<div class="container-fluid" style="width: 100%">

  <div class="row">
    <div class="col-md-9" style="font-size: 200%; color: deeppink">
      EBA Application <br>
      <div style="padding-right: 65%;margin-top: 1%" *ngIf="editable && !urlid">
        <select class="form-control" (change)="onSelect($event)">
          <option>-select type of relation-</option>
          <option value="{{baseUrl}}/eba-form/edit/relative">Relative</option>
          <option value="{{baseUrl}}/eba-form/edit/domestichelp">Domestic Help</option>
        </select>
      </div>
    </div>
    <div class="col-md-2" style="font-size: 200%; color: deeppink" *ngIf="!urlid">
      <button class="btn btn-primary" [routerLink]="'/profile/edit'">
        + add Relative/DomesticHelp
      </button>
    </div>
  </div>




  <!--    <div class="row"  *ngIf="editable && employee && employee.eba_applications != null && employee.eba_applications.length > 0">-->
  <!--      <div  *ngFor="let application of employee!.eba_applications; let j = index">-->
  <!--        <div *ngFor="let role of application.roles; let i = index">-->
  <!--          <div class="col" style="color: red" >-->
  <!--            Your application is pending with {{role.role_desc}}.-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->



  <div class="card shadow" >
    <div class="card-body">
      <div class="row">
        <div class="col col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style=" color: #1d00ff"> Officer Details</h5>
              <hr class="row-divider">
              <table>
                <tr>
                  <td ><b>Name:</b></td>
                  <td style="font-size: 120%" >{{employee!.emp_title}} {{employee!.emp_name}}</td>
                </tr>
                <tr>
                  <td style="width: 30%;"><b>Date of Birth:</b></td>
                  <td >{{employee!.dob}}</td>
                </tr>
                <tr>
                  <td ><b> Mobile no:</b></td>
                  <td >{{employee!.mobile}}</td>
                </tr>
                <tr>
                  <td ><b> Email:</b></td>
                  <td >{{employee!.email_id}}</td>
                </tr>
                <tr>
                  <td ><b>Address:</b></td>
                  <td >{{employee!.curr_add}},<br />
                    {{employee!.curr_district!.district_name}}
                    {{employee!.curr_state!.state_name}} - {{employee!.curr_pin}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style=" color: #1d00ff">Gov Details</h5>
              <hr class="row-divider">
              <table>
                <tr>
                  <td ><b>Designation:</b></td>
                  <td style="font-size: 120%" *ngIf="employee && employee.designations">
                    {{ getActiveDesignations(employee.designations) }}
                  </td>
                </tr>
                <tr>
                  <td style="width: 58%;"><b>Department:</b></td>
                  <td *ngIf="employee && employee.divisions">{{ getActiveDivision(employee.divisions)}}</td>
                </tr>
                <tr>
                  <td ><b>Posting place:</b></td>
                  <td >{{employee!.organization!.org_desc}}</td>
                </tr>
                <tr>
                  <td><b>posting date:</b></td>
                  <td>{{employee!.doj_gs}}</td>
                </tr>
                <tr>
                  <td ><b>Retirement dt:</b></td>
                  <td > {{employee!.dor}}</td>
                </tr>
                <tr>
                  <td><b>Id Card NO:</b></td>
                  <td *ngIf="employee && employee.id_cards">{{ getActiveIdCard(employee.id_cards) }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <div *ngIf="applyingforRelative || urlid">
    <div class="card shadow" *ngIf="employee && employee.relations && employee.relations.length > 0">
      <div class="card-body">
        <h5 class="card-title" style=" color: indianred"> Officer's Family Details</h5>
        <hr class="row-divider">
        <div class="row">
          <div class="col-md">
            <div class="card table-responsive">
              <div class="card-body">
                <table class="table table-stripped">
                  <thead>
                  <tr>
                    <div *ngIf="urlid">
                      <div *ngIf="(user && user.role)" >
                        <div *ngFor="let role of user.role">
                          <div *ngIf="role.role_id === 4">
                            <th>
                              &nbsp;
                            </th>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="editable">
                      <th>
                        &nbsp;
                      </th>
                    </div>
                    <th>Sl No.</th>
                    <th>Relative Name</th>
                    <th>Relation</th>
                    <th>Mobile No.</th>
                    <th>Date Of Birth</th>
                    <th>Eba Pass NO</th>
                    <th *ngIf="urlid">Exp date</th>
                    <th *ngIf="urlid">Reason</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let member of employee!.relations; let i = index">
                    <div *ngIf="urlid">
                      <div *ngIf="(user && user.role)" >
                        <div *ngFor="let role of user.role">
                          <div *ngIf="role.role_id === 4">
                            <td>
                              <div *ngIf="member.pivot.eba_passes && member.pivot.eba_passes.length > 0">
                                <div *ngFor="let eba_pass of member.pivot.eba_passes; let j = index">
                                  <div *ngIf="(eba_pass.eba_pass_no === null || eba_pass.eba_pass_exp_date === null)">
                                    <div class="form-check form-switch">
                                      <input class="form-check-input"
                                              type="checkbox"
                                              role="switch"
                                              id="flexSwitchCheckChecked"
                                              data-toggle="toggle"
                                              [(ngModel)]="member.allSelected">
                                    </div>

                                    <!--                                    <input type="checkbox" checked data-toggle="toggle" data-on="Ready" data-off="Not Ready" data-onstyle="success" data-offstyle="danger" [(ngModel)]="member.allSelected" >-->
<!--                                    <button (click)="toggleApproval(i)" class="btn btn-outline-success" [class.approve]="employee.relations[i].allSelected">Approve</button>-->

                                  </div>
                                </div>
                              </div>
                            </td>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="editable">
                      <td>
                        <div *ngIf="member.pivot.eba_passes && member.pivot.eba_passes.length > 0">
                          <div *ngFor="let eba_pass of member.pivot.eba_passes; let j = index">
                            <div *ngIf="(eba_pass.eba_pass_no === null || eba_pass.eba_pass_exp_date === null)">
                              <input type="checkbox" class="selectItem" [(ngModel)]="member.allSelected" >
                            </div>
                          </div>
                        </div>
                      </td>
                    </div>
                    <td>{{ i + 1 }}</td>
                    <td>
                      <span>{{ member!.pivot!.rel_name }}</span>
                    </td>
                    <td>
                      <span>{{ member!.rel_desc }}</span>
                    </td>
                    <td>
                      <span>{{ member!.pivot!.rel_mobile_no }}</span>
                    </td>
                    <td>
                      <span>{{ member!.pivot!.rel_dob }}</span>
                    </td>
                    <td>
                      <div *ngIf="member.pivot.eba_passes && member.pivot.eba_passes.length > 0">
                        <div *ngFor="let eba_pass of member.pivot.eba_passes; let j = index">
                          <div *ngIf="eba_pass && editable">
                            <ng-container *ngIf=" eba_pass.eba_pass_no !== null; else eba_pass_no_template">
                              {{ eba_pass.eba_pass_no }}
                            </ng-container>
                            <ng-template #eba_pass_no_template>
                              <div>
                                <input type="text" class="form-control" [(ngModel)]="eba_pass.eba_pass_no_edit" >
                              </div>
                            </ng-template>

                          </div>
                          <div *ngIf="urlid && eba_pass ">
                            <div *ngIf="eba_pass?.eba_pass_no !== null && eba_pass?.eba_pass_no_edit === null">
                              {{ eba_pass.eba_pass_no }}
                            </div>

                            <div *ngIf="eba_pass?.eba_pass_no === null && eba_pass?.eba_pass_no_edit !== null">
                              {{ eba_pass.eba_pass_no_edit }}
                            </div>

                            <div style="color: blue;" *ngIf="eba_pass?.eba_pass_no === null && eba_pass?.eba_pass_no_edit === null">
                              new
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="urlid">
                      <div *ngIf="member.pivot.eba_passes && member.pivot.eba_passes.length > 0">
                        <div *ngFor="let eba_pass of member.pivot.eba_passes; let j = index">
                          <input type="date" class="form-control" [(ngModel)]="eba_pass.eba_pass_exp_date" >
                        </div>
                      </div>
                    </td>
                    <td *ngIf="urlid">

                          <input type="text" class="form-control" >

                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>


    <div class="card shadow" *ngIf="employee && employee.vehicles && employee.vehicles.length > 0">
      <div class="card-body">
        <h5 class="card-title" style=" color: saddlebrown">Officer's Vehicle Details</h5>
        <hr class="row-divider">
        <div class="row">
          <div class="col-md">
            <div class="card table-responsive">
              <div class="card-body">
                <table class="table table-stripped">
                  <thead>
                  <tr>
                    <div *ngIf="urlid">
                      <div *ngIf="(user && user.role)" >
                        <div *ngFor="let role of user.role">
                          <div *ngIf="role.role_id === 4">
                            <th>
                              &nbsp;
                            </th>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="editable">
                      <th>
                        &nbsp;
                      </th>
                    </div>
                    <th>Sl No.</th>
                    <th>Vehicle Desc</th>
                    <th>Vehicle No.</th>
                    <th>Chassis No.</th>
                    <th>Registered owner</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let vehicle of employee!.vehicles; let i = index">
                    <div *ngIf="urlid">
                      <div *ngIf="(user && user.role)" >
                        <div *ngFor="let role of user.role">
                          <div *ngIf="role.role_id === 4">
                            <td>
                              <input type="checkbox" class="selectItem" [(ngModel)]="vehicle.allSelected" >
                            </td>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="editable">
                      <td>
                        <input type="checkbox" class="selectItem" [(ngModel)]="vehicle.allSelected" >
                      </td>
                    </div>
                    <td>{{ i + 1 }}</td>
                    <td>
                      <span >{{vehicle!.model_name}}</span>
                    </td>
                    <td>
                      <span >{{vehicle!.vehicle_no}}</span>
                    </td>
                    <td>
                      <span >{{vehicle!.chassis_no}}</span>
                    </td>
                    <td>
                      <span >{{vehicle!.vehicle_owner}}</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <div *ngIf="!applyingforRelative || urlid">
    <div *ngIf="employee && employee.servants && employee.servants.length > 0">
      <div *ngFor="let servant of employee!.servants; let i = index">
        <div class="card shadow" >
          <div class="card-body">

            <div>

              <div class="row" *ngIf="urlid">
                <div *ngIf="(user && user.role)" >
                  <div *ngFor="let role of user.role">
                    <div *ngIf="role.role_id === 4">
                      <div class="col-md-6 d-flex align-items-center">
                        <input type="checkbox" class="selectItem" [(ngModel)]="servant.allSelected">
                        <h5 class="card-title" style="color: saddlebrown; margin-left: 10px;">Domestic help Details</h5>
                      </div>

                      <div class="col-md-6">
                        <div *ngIf="servant.eba_passes != null && servant.eba_passes.length > 0">
                          <div *ngFor="let servant_detail of servant.eba_passes; let k = index">
                            <div *ngIf="servant_detail">
                              <div *ngIf="servant_detail.eba_pass_no !== null && servant_detail.eba_pass_no !== ''">
                                {{ servant_detail.eba_pass_no }}
                              </div>
                              <div *ngIf="servant_detail.eba_pass_no === null && servant_detail.eba_pass_no_edit !== null">
                                {{ servant_detail.eba_pass_no_edit }}
                              </div>
                              <div style="color:blue;" *ngIf="servant_detail.eba_pass_no === null && servant_detail.eba_pass_no_edit === null">
                                new
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" *ngIf="editable">
                <div class="col-md-6 d-flex align-items-center">
                  <input type="checkbox" class="selectItem" [(ngModel)]="servant.allSelected">
                  <h5 class="card-title" style="color: saddlebrown; margin-left: 10px;">Domestic help Details</h5>
                </div>

                <div class="col-md-6">
                  <div *ngIf="servant.eba_passes != null && servant.eba_passes.length > 0">
                    <div *ngFor="let servant_detail of servant.eba_passes; let k = index">
                      <div *ngIf="servant_detail">
                        <div *ngIf="servant_detail.eba_pass_no !== null">
                          {{ servant_detail.eba_pass_no }}
                        </div>
                        <div *ngIf="servant_detail.eba_pass_no === null">
                          <input type="text" class="form-control" [(ngModel)]="servant_detail.eba_pass_no_edit" placeholder="eba pass no">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr class="row-divider">
              <div class="row">
                <tr>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <label class="form-label">Name:</label>
                          <div class="input-group mb-3">
                            {{servant!.servant_name}}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label class="form-label">Mobile No:</label>
                          <div class="input-group mb-3">
                            {{servant!.servant_mobile_no}}
                          </div>
                        </div>
                      </div>
                      <div *ngIf=" servant.eba_passes != null && servant.eba_passes.length > 0">
                        <div *ngFor="let servant_detail of servant.eba_passes; let k = index">
                          <div *ngIf="servant_detail">
                            <div *ngIf="editable">
                              <div class="row">
                                <div class="col-md-6">
                                  <label class="form-label">Present Address (outhouse no)</label>
                                  <br>
                                  {{servant!.out_house_address}}
                                </div>
                                <div class="col-md-6">
                                  <label class="form-label">living since at president sect.</label>
                                  <input type="date" class="form-control" [(ngModel)]="servant_detail.living_at_president_sect">
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <label class="form-label">Perm. Address</label>
                                  <textarea class="form-control" [(ngModel)]="servant_detail.perm_address"></textarea>
                                </div>
                                <div class="col-md-6">
                                  <label class="form-label">Address where Resided during last 5yr</label>
                                  <textarea class="form-control" [(ngModel)]="servant_detail.last_5yr_address" ></textarea>
                                </div>
                              </div>
                              <hr class="row-divider">
                              <div class="row">
                                <label class="form-label">2 References from permanent address</label>
                                <table class="table table-bordered">
                                  <thead>
                                  <tr>
                                    <th scope="col">Sl No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone No</th>
                                    <th scope="col">Address</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td><input type="text" class="form-control"  [(ngModel)]="servant_detail.reference_1_name"></td>
                                    <td><input type="text" class="form-control"  [(ngModel)]="servant_detail.reference_1_phone_no"></td>
                                    <td><textarea class="form-control" [(ngModel)]="servant_detail.reference_1_address"></textarea></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td><input type="text" class="form-control"  [(ngModel)]="servant_detail.reference_2_name"></td>
                                    <td><input type="text" class="form-control"  [(ngModel)]="servant_detail.reference_2_phone_no"></td>
                                    <td><textarea class="form-control" [(ngModel)]="servant_detail.reference_2_address"></textarea></td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                            <div *ngIf="urlid">
                              <div class="row">
                                <div class="col-md-6">
                                  <label class="form-label">Present Address (outhouse no)</label><br>
                                  {{servant.out_house_address ? servant.out_house_address : 'n/a'}}
                                </div>
                                <div class="col-md-6">
                                  <label class="form-label">living since at president sect.</label><br>
                                  {{ servant_detail.living_at_president_sect ? servant_detail.living_at_president_sect : 'n/a' }}
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <label class="form-label">Perm. Address</label><br>
                                  {{servant_detail.perm_address ? servant_detail.perm_address: 'n/a'}}
                                </div>

                                <div class="col-md-6">
                                  <label class="form-label">Address where Resided during last 5yr</label><br>
                                  {{servant_detail.last_5yr_address ? servant_detail.last_5yr_address: 'n/a'}}
                                </div>
                              </div>
                              <hr class="row-divider">
                              <div class="row">
                                <label class="form-label">2 References from permanent address</label>
                                <table class="table table-bordered">
                                  <thead>
                                  <tr>
                                    <th scope="col">Sl No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone No</th>
                                    <th scope="col">Address</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>{{ servant_detail.reference_1_name?servant_detail.reference_1_name: 'n/a'}}</td>
                                    <td>{{servant_detail.reference_1_phone_no?servant_detail.reference_1_phone_no: 'n/a'}}</td>
                                    <td>{{servant_detail.reference_1_address?servant_detail.reference_1_address: 'n/a'}}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>{{servant_detail.reference_2_name?servant_detail.reference_2_name: 'n/a'}}</td>
                                    <td>{{servant_detail.reference_2_phone_no?servant_detail.reference_2_phone_no: 'n/a'}}</td>
                                    <td>{{servant_detail.reference_2_address?servant_detail.reference_2_address: 'n/a'}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </tr>
              </div>
              <br>
            </div>

            <div *ngIf="servant && servant.relations && servant.relations.length > 0">
              <h5 class="card-title" style=" color: indianred"> Domestic help's Family Details</h5>
              <hr class="row-divider">
              <div class="row">
                <div class="col-md">
                  <div class="card table-responsive">
                    <div class="card-body">
                      <table class="table table-stripped">
                        <thead>
                        <tr>
                          <div *ngIf="urlid">
                            <div *ngIf="(user && user.role)" >
                              <div *ngFor="let role of user.role">
                                <div *ngIf="role.role_id === 4">
                                  <th>
                                    &nbsp;
                                  </th>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="editable">
                            <th>
                              &nbsp;
                            </th>
                          </div>
                          <th>Sl No.</th>
                          <th>Relative Name</th>
                          <th>Relation</th>
                          <th>Mobile No.</th>
                          <th>Date Of Birth</th>
                          <th>Eba Pass NO</th>
                          <th *ngIf="urlid">Exp date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let member of servant!.relations; let j = index">
                          <div *ngIf="urlid">
                            <div *ngIf="(user && user.role)" >
                              <div *ngFor="let role of user.role">
                                <div *ngIf="role.role_id === 4">
                                  <td>
                                    <div *ngIf="member.pivot.eba_passes && member.pivot.eba_passes.length > 0">
                                      <div *ngFor="let eba_pass of member.pivot.eba_passes; let j = index">
                                        <div *ngIf="(eba_pass.eba_pass_no === null || eba_pass.eba_pass_exp_date === null)">
                                          <input type="checkbox" class="selectItem" [(ngModel)]="member.allSelected" >
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div *ngIf="editable">
                            <td>
                              <div *ngIf="member.pivot.eba_passes && member.pivot.eba_passes.length > 0">
                                <div *ngFor="let eba_pass of member.pivot.eba_passes; let j = index">
                                  <div *ngIf="(eba_pass.eba_pass_no === null || eba_pass.eba_pass_exp_date === null)">
                                    <input type="checkbox" class="selectItem" [(ngModel)]="member.allSelected" (change)="updateRelationSelection(servant, member)" >
                                  </div>
                                </div>
                              </div>
                            </td>
                          </div>
                          <td>{{ j + 1 }}</td>
                          <td>
                            <span>{{ member!.pivot!.rel_name }}</span>
                          </td>
                          <td>
                            <span>{{ member!.rel_desc }}</span>
                          </td>
                          <td>
                            <span>{{ member!.pivot!.rel_mobile_no }}</span>
                          </td>
                          <td>
                            <span>{{ member!.pivot!.rel_dob }}</span>
                          </td>
                          <td>
                            <div *ngIf="member.pivot.eba_passes && member.pivot.eba_passes.length > 0">
                              <div *ngFor="let eba_pass of member.pivot.eba_passes; let j = index">
                                <div *ngIf="eba_pass && editable">
                                  <ng-container *ngIf="eba_pass.eba_pass_no !== null; else eba_pass_no_template">
                                    {{ eba_pass.eba_pass_no }}
                                  </ng-container>
                                  <ng-template #eba_pass_no_template>
                                    <div>
                                      <input type="text" class="form-control" [(ngModel)]="eba_pass.eba_pass_no_edit">
                                    </div>
                                  </ng-template>
                                </div>
                                <div *ngIf="urlid && eba_pass ">
                                  <div *ngIf="urlid && eba_pass ">
                                    <div *ngIf="eba_pass?.eba_pass_no !== null && eba_pass?.eba_pass_no_edit === null">
                                      {{ eba_pass.eba_pass_no }}
                                    </div>

                                    <div *ngIf="eba_pass?.eba_pass_no === null && eba_pass?.eba_pass_no_edit !== null">
                                      {{ eba_pass.eba_pass_no_edit }}
                                    </div>

                                    <div style="color: blue;" *ngIf="eba_pass?.eba_pass_no === null && eba_pass?.eba_pass_no_edit === null">
                                      new
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td *ngIf="urlid">
                            <div *ngIf="member.pivot.eba_passes && member.pivot.eba_passes.length > 0">
                              <div *ngFor="let eba_pass of member.pivot.eba_passes; let j = index">
                                <input type="date" class="form-control" [(ngModel)]="eba_pass.eba_pass_exp_date" >
                              </div>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            </div>
            <div *ngIf="servant && servant.vehicles && servant.vehicles.length > 0">
              <h5 class="card-title" style=" color: saddlebrown">Domestic help's Vehicle Details
                <button type="button" *ngIf="editable" class="btn btn-outline-info" (click)="addVehicle(i)">
                  Add vehicle
                </button>
              </h5>
              <hr class="row-divider">
              <div class="row">
                <div class="col-md">
                  <div class="card table-responsive">
                    <div class="card-body">
                      <table class="table table-stripped">
                        <thead>
                        <tr>
                          <div *ngIf="urlid">
                            <div *ngIf="(user && user.role)" >
                              <div *ngFor="let role of user.role">
                                <div *ngIf="role.role_id === 4">
                                  <th>
                                    &nbsp;
                                  </th>
                                </div>
                              </div>
                            </div>
                          </div>
                          <th>Sl No.</th>
                          <th>Vehicle Type</th>
                          <th>Vehicle Name.</th>
                          <th>Vehicle No.</th>
                          <th>Registered owner</th>
                          <th *ngIf="editable">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let vehicle of servant!.vehicles; let k = index">
                          <div *ngIf="urlid">
                            <div *ngIf="(user && user.role)" >
                              <div *ngFor="let role of user.role">
                                <div *ngIf="role.role_id === 4">
                                  <td>
                                    <input type="checkbox" class="selectItem" [(ngModel)]="vehicle.allSelected" >
                                  </td>
                                </div>
                              </div>
                            </div>
                          </div>
                          <td>{{ k+1 }}</td>
                          <td>
                            <div *ngIf="editable">
                              <select class="form-control" [(ngModel)]="vehicle.vehicle_type" >
                                <option value="null">--Select Type--</option>
                                <option [ngValue]="'S'">Scooty</option>
                                <option [ngValue]="'M'">Motorcycle</option>
                                <option [ngValue]="'C'">Car</option>
                              </select>
                            </div>
                            <div *ngIf="urlid">
                              {{
                              vehicle!.vehicle_type === 'S' ? 'Scooty' :
                                      vehicle!.vehicle_type === 'M' ? 'Motorcycle' :
                                              vehicle!.vehicle_type === 'C' ? 'Car' :
                                                      'N/A'
                              }}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="editable">
                              <input type="text" class="form-control" [(ngModel)]="vehicle.model_name">
                            </div>
                            <div *ngIf="urlid">
                              {{vehicle.vehicle_type}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="editable">
                              <input type="text" class="form-control" [(ngModel)]="vehicle.vehicle_no">
                            </div>
                            <div *ngIf="urlid">
                              {{vehicle.vehicle_no}}
                            </div>
                          </td>
                          <td>
                            <div *ngIf="editable">
                              <input type="text" class="form-control" [(ngModel)]="vehicle.vehicle_owner">
                            </div>
                            <div *ngIf="urlid">
                              {{vehicle.vehicle_owner}}
                            </div>
                          </td>
                          <td *ngIf="editable">
                            <button type="button" class="btn btn-outline-danger" (click)="removeVehicle(i,k)">
                              Remove
                            </button>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <div class="row"  *ngIf="editable && applyingforRelative && employee && (employee.relations && employee.relations.length > 0)">
    <div class="col-md-10" style="font-size: 200%; ">
      &nbsp;
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="openUploadPopup()">
        Upload details
      </button>
    </div>
  </div>

  <div class="row"  *ngIf=" editable && !applyingforRelative && employee && (employee.servants && employee.servants.length > 0)">
    <div class="col-md-10" style="font-size: 200%; ">
      &nbsp;
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="openUploadPopup()">
        Upload details
      </button>
    </div>
  </div>

  <div class="row"  *ngIf="editable && applyingforRelative &&  !urlid && employee && (!employee.relations || employee.relations.length == 0)">
    <div class="col-md-6  " style="font-size: 200%; ">
      &nbsp;
    </div>
    <div class="col-md-6" style="color: red;text-align: right" >
      Family data is not inserted. Kindly insert details through
      <button class="btn btn-primary" [routerLink]="'/profile/edit'">
        Profile
      </button>
    </div>
  </div>
  <div class="row"  *ngIf="!applyingforRelative && !urlid && employee && (!employee.servants || employee.servants.length == 0)">
    <div class="col-md-6" style="font-size: 200%; ">
      &nbsp;
    </div>
    <div class="col-md-6" style="color: red;text-align: right" >
      Domestic Help data is not inserted. Kindly insert details through
      <button class="btn btn-primary" [routerLink]="'/profile/edit'">
        Profile
      </button>
    </div>
  </div>

  <td>
    <ng-container>
      <div class="modal modal-above-header"
           tabindex="-1" data-bs-backdrop="false"
           [ngStyle]="{'display': displayUpload }" style="backdrop-filter: blur(3px);background-color: rgba(128, 128, 128, 0.7); overflow-y: auto; max-height: 80vh; margin-top: 100px;">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <!--            <div class="modal-header">-->
            <!--              <h5 class="modal-title">-->
            <!--                <b>Enter photo signature and id proof </b>-->
            <!--              </h5>-->
            <!--            </div>-->
            <div class="modal-body" >
              <div *ngIf="applyingforRelative && editable && employee && employee.relations && employee.relations.length > 0 ">
                <table class="table" class="table table-stripped">
                  <thead>
                  <tr>
                    <th>Relative Name</th>
                    <th>Eba Pass NO</th>
                    <th>Upload Photo</th>
                    <th>Upload Signature</th>
                    <th>Upload ID Proof</th>
                  </tr>
                  </thead>
                  <ng-container *ngFor="let member of employee?.relations; let i = index">
                    <ng-container *ngIf="member?.allSelected && member?.pivot?.eba_passes ">
                      <tbody>
                      <tr *ngFor="let eba_pass of member.pivot.eba_passes; let j = index">
                        <td>
                          <span>{{ member!.pivot!.rel_name }}</span>
                        </td>
                        <td>
                          <div *ngIf="eba_pass.eba_pass_no !== null && eba_pass?.eba_pass_no_edit === null">
                            {{ eba_pass.eba_pass_no }}
                          </div>
                          <div *ngIf="eba_pass.eba_pass_no === null && eba_pass?.eba_pass_no_edit !== null">
                            {{ eba_pass.eba_pass_no_edit }}
                          </div>
                          <div style="color: blue;" *ngIf="eba_pass?.eba_pass_no === null && eba_pass?.eba_pass_no_edit === null">
                            new
                          </div>
                        </td>

                        <!-- Column for 'photo_path' -->
                        <td>
                          <div class="input-group">
                            <label [for]="'photo'+i+j" class="upload-icon-label" *ngIf="editable" title="Upload Photo">
                              <i class="bi bi-cloud-arrow-up btn btn-outline-info"></i>
                            </label>
                            <input type="file" class="custom-file-input" [id]="'photo'+i+j" style="display: none"
                                   (change)="onProfilePhotoSelected($event,i,j,'photo_path')" *ngIf="editable"
                                   [(ngModel)]="eba_pass.photo_path">
                            <img [src]="eba_pass?.photo_path" style="width: 150px; height: 128px" class="rounded-square" />
                          </div>
                        </td>

                        <!-- Column for 'sign_path' -->
                        <td>
                          <div class="input-group">
                            <label [for]="'signature'+ i + j" class="upload-icon-label" *ngIf="editable" title="signature">
                              <i class="bi bi-cloud-arrow-up btn btn-outline-info"></i>
                            </label>
                            <input type="file" class="custom-file-input" [id]="'signature' + i + j" style="display: none"
                                   (change)="onProfilePhotoSelected($event,i,j,'signature')" *ngIf="editable"
                                   [(ngModel)]="eba_pass.sign_path">
                            <img [src]="eba_pass?.sign_path" style="width: 150px; height: 128px" class="rounded-square" />
                          </div>
                        </td>

                        <!-- Column for 'id_proof_path' -->
                        <td>
                          <div class="input-group">
                            <label [for]="'idPath'+ i + j" class="upload-icon-label" *ngIf="editable" title="signature">
                              <i class="bi bi-cloud-arrow-up btn btn-outline-info"></i>
                            </label>
                            <input type="file" class="custom-file-input" [id]="'idPath' + i + j" style="display: none"
                                   (change)="onProfilePhotoSelected($event,i,j,'id_proof_path')" *ngIf="editable"
                                   [(ngModel)]="eba_pass.id_proof_path">
                            <img [src]="eba_pass?.id_proof_path" style="width: 150px; height: 128px" class="rounded-square" />
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </ng-container>
                  </ng-container>
                </table>

                <!-- Add your other HTML code here -->
              </div>

              <div *ngIf="!applyingforRelative && editable && employee && employee.servants && employee.servants.length > 0">
                <table class="table" class="table table-stripped">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Eba Pass NO</th>
                    <th>Upload Photo</th>
                    <th>Upload Signature</th>
                    <th>Upload ID Proof</th>
                  </tr>
                  </thead>
                  <ng-container *ngFor="let servant of employee!.servants; let i = index">
                    <ng-container *ngIf="servant.allSelected  ">
                      <ng-container *ngIf="servant?.eba_passes ">
                        <tbody>
                        <tr *ngFor="let eba_pass of servant!.eba_passes; let j = index">
                          <td>
                            <span>{{ servant.servant_name }}</span>
                          </td>
                          <td>
                            <div *ngIf=" eba_pass.eba_pass_no !== null  && eba_pass?.eba_pass_no_edit === null">
                              {{ eba_pass.eba_pass_no }}
                            </div>

                            <div *ngIf=" eba_pass.eba_pass_no === null  && eba_pass?.eba_pass_no_edit !== null">
                              {{ eba_pass.eba_pass_no_edit }}
                            </div>
                            <div style="color: blue;" *ngIf="eba_pass?.eba_pass_no === null && eba_pass?.eba_pass_no_edit === null">
                              new
                            </div>
                          </td>
                          <td>
                            <div class="input-group">
                              <label [for]="'photo'+i+j" class="upload-icon-label" *ngIf="editable"
                                     title="Upload Photo">
                                <i class="bi bi-cloud-arrow-up btn btn-outline-info"></i>
                              </label>
                              <input type="file" class="custom-file-input" [id]="'photo'+i+j"
                                     style="display: none" (change)="onProfilePhotoSelected($event,i,j,'photo_path')"
                                     *ngIf="editable" [(ngModel)]="eba_pass.photo_path">
                              <img [src]="eba_pass?.photo_path" style="width: 150px; height: 128px"
                                   class="rounded-square" />
                            </div>
                          </td>
                          <td>
                            <div class="input-group">
                              <label [for]="'signature'+ i + j" class="upload-icon-label" *ngIf="editable"
                                     title="signature">
                                <i class="bi bi-cloud-arrow-up btn btn-outline-info"></i>

                                <input type="file" class="custom-file-input" [id]="'signature' + i + j"
                                       style="display: none" (change)="onProfilePhotoSelected($event,i,j,'signature')"
                                       *ngIf="editable" [(ngModel)]="eba_pass.sign_path">
                              </label>
                              <img [src]="eba_pass?.sign_path" style="width: 150px; height: 128px"
                                   class="rounded-square" />
                            </div>
                          </td>
                          <td>
                            <div class="input-group">
                              <label [for]="'idPath'+ i + j" class="upload-icon-label" *ngIf="editable"
                                     title="signature">
                                <i class="bi bi-cloud-arrow-up btn btn-outline-info"></i>

                                <input type="file" class="custom-file-input" [id]="'idPath' + i + j"
                                       style="display: none" (change)="onProfilePhotoSelected($event,i,j,'id_proof_path')"
                                       *ngIf="editable" [(ngModel)]="eba_pass.id_proof_path">
                              </label>
                              <img [src]="eba_pass?.id_proof_path" style="width: 150px; height: 128px"
                                   class="rounded-square" />
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </ng-container>


                      <ng-container *ngIf="servant!.relations && servant.relations.length >0">
                        <ng-container *ngFor="let member of servant!.relations; let j = index">
                          <ng-container *ngIf="member.allSelected && member.pivot.eba_passes && member.pivot.eba_passes.length > 0">
                            <tbody>
                            <tr *ngFor="let eba_pass of member.pivot.eba_passes; let k = index">
                              <td>
                                <span>{{ member!.pivot!.rel_name }}</span>
                              </td>
                              <td>
                                <div *ngIf=" eba_pass.eba_pass_no !== null  && eba_pass?.eba_pass_no_edit === null">
                                  {{ eba_pass.eba_pass_no }}
                                </div>

                                <div *ngIf=" eba_pass.eba_pass_no === null  && eba_pass?.eba_pass_no_edit !== null">
                                  {{ eba_pass.eba_pass_no_edit }}
                                </div>
                                <div style="color: blue;" *ngIf="eba_pass?.eba_pass_no === null && eba_pass?.eba_pass_no_edit === null">
                                  new
                                </div>
                              </td>

                              <td>
                                <div class="input-group">
                                  <label [for]="'photo'+i+j+k" class="upload-icon-label" *ngIf="editable"
                                         title="Upload Photo">
                                    <i class="bi bi-cloud-arrow-up btn btn-outline-info"></i>
                                  </label>
                                  <input type="file" class="custom-file-input" [id]="'photo'+i+j+k"
                                         style="display: none" (change)="onrelativeProfilePhotoSelected($event,i,j,k,'photo_path')"
                                         *ngIf="editable" [(ngModel)]="eba_pass.photo_path">
                                  <img [src]="eba_pass?.photo_path" style="width: 150px; height: 128px"
                                       class="rounded-square" />
                                </div>
                              </td>
                              <td>
                                <div class="input-group">
                                  <label [for]="'signature'+ i + j+k" class="upload-icon-label" *ngIf="editable"
                                         title="signature">
                                    <i class="bi bi-cloud-arrow-up btn btn-outline-info"></i>

                                    <input type="file" class="custom-file-input" [id]="'signature' + i + j +k"
                                           style="display: none" (change)="onrelativeProfilePhotoSelected($event,i,j,k,'signature')"
                                           *ngIf="editable" [(ngModel)]="eba_pass.sign_path">
                                  </label>
                                  <img [src]="eba_pass?.sign_path" style="width: 150px; height: 128px"
                                       class="rounded-square" />
                                </div>
                              </td>
                              <td>
                                <div class="input-group">
                                  <label [for]="'idPath'+ i + j+k" class="upload-icon-label" *ngIf="editable"
                                         title="signature">
                                    <i class="bi bi-cloud-arrow-up btn btn-outline-info"></i>

                                    <input type="file" class="custom-file-input" [id]="'idPath' + i + j +k"
                                           style="display: none" (change)="onrelativeProfilePhotoSelected($event,i,j,k,'id_proof_path')"
                                           *ngIf="editable" [(ngModel)]="eba_pass.id_proof_path">
                                  </label>
                                  <img [src]="eba_pass?.id_proof_path" style="width: 150px; height: 128px"
                                       class="rounded-square" />
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </table>
              </div>
            </div>


            <div class="modal-footer">
              <div class="col" style="color: red" >
                Photograph & Signature can be captured For Your Application at Gate No-17,35 & 31
              </div>
              <button type="button" class="btn btn-outline-secondary" (click)="closeUploadPopup()">
                Close
              </button>

              <button type="button" class="btn btn-outline-info" (click)="applyEba()">
                Submit Form
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </td>

</div>





