<div class="row" style="margin-top: 10%">
  <div class="col-md-6 offset-md-3">
    <div class="form-holder card shadow">
      <div class="card-header">
        Registration
      </div>
      <div class="card-body">
        <div class="sliding-container">
          <div class="slides" [@slideAnimation]="currentPageIndex">
            <div class="slide" *ngFor="let slide of slides; let i = index">
              <!-- Your content here -->
              <div *ngIf="i === 0">
                <div class="row">
                  <div class="col-md">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="Name" name="Name" [(ngModel)]="employee!.emp_name" placeholder="Enter your name" required>
                  </div>

                  <div class="col-md">
                    <label for="FatherName" class="form-label">Father's Name</label>
                    <input type="text" class="form-control" id="FatherName" name="FatherName" [(ngModel)]="employee!.father_name" placeholder="Enter your father's name">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" [(ngModel)]="employee!.email_id" placeholder="Enter your email">
                    <div id="emailHelp" class="form-text"></div>
                  </div>

                  <div class="col-md">
                    <label for="mobile" class="form-label">Mobile No.</label>
                    <input type="number" class="form-control" id="mobile" name="mobile" [(ngModel)]="employee!.mobile" placeholder="Enter your mobile number">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <label for="password" class="form-label">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      [(ngModel)]="password"
                      (input)="validatePasswords()"
                      [ngClass]="{
                        'is-valid': passwordsMatch && passwordValid,
                        'is-invalid': passwordTouched && (!passwordValid || !passwordsMatch)
                      }"
                      (blur)="passwordTouched = true"
                      placeholder="Enter your password"/>
                    <div *ngIf="passwordTouched && !passwordValid" class="invalid-feedback">
                      Password must be at least 6 characters long
                    </div>
                  </div>
                  <div class="col-md">
                    <label for="cpassword" class="form-label">Confirm Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="cpassword"
                      name="cpassword"
                      [(ngModel)]="cpassword"
                      (input)="validatePasswords()"
                      [ngClass]="{
                        'is-valid': passwordsMatch && passwordValid,
                        'is-invalid': cpasswordTouched && (!passwordsMatch || !passwordValid)
                      }"
                      (blur)="cpasswordTouched = true"
                      placeholder="Confirm your password"/>
                    <div *ngIf="cpasswordTouched && !passwordsMatch" class="invalid-feedback">
                      Password and Confirm Password do not match
                    </div>
                  </div>
                </div>
              </div>


              <div *ngIf="i === 1">
                <div class="row">
                  <div class="col-md-6">
                    <label class="form-label"><u>Present Address</u></label>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                      <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Address" aria-label="address"
                               [(ngModel)]="employee!.curr_add">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <select class="form-control" [(ngModel)]="employee!.curr_state" (ngModelChange)="onStateChange($event,'curr')">
                          <option value="null">Select State</option>
                          <option [ngValue]="state" *ngFor="let state of states">{{state.state_name}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <select class="form-control" [(ngModel)]="employee!.curr_district">
                          <option value="null">Select District</option>
                          <option [ngValue]="dist" *ngFor="let dist of currDistricts">{{dist.district_name}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <input type="text" maxlength="6" minlength="6" class="form-control" placeholder="PIN"
                               aria-label="pin" [(ngModel)]="employee!.curr_pin">
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label class="form-label"><u>Permanent Address</u></label>
                    <div class="row">
                      <div class="col-md-12">
                        <input type="checkbox" id="cpaddress" [(ngModel)]="isCpAddressChecked"
                               (change)="cPAddress()"> &nbsp; <b class="text-danger">Same as Present Address</b>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Address" aria-label="address"
                               [(ngModel)]="employee!.perm_add" [readonly]="isCpAddressChecked">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <select class="form-control" [(ngModel)]="employee!.perm_state" (ngModelChange)="onStateChange($event,'perm')" [disabled]="isCpAddressChecked" >
                          <option value="null">Select State</option>
                          <option [ngValue]="state" *ngFor="let state of states">{{state.state_name}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <select class="form-control" [(ngModel)]="employee!.perm_district" [disabled]="isCpAddressChecked">
                          <option value="null">Select District</option>
                          <option [ngValue]="dist" *ngFor="let dist of permDistricts">{{dist.district_name}}
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <input type="text" maxlength="6" minlength="6" class="form-control" placeholder="PIN"
                               aria-label="pin" [(ngModel)]="employee!.perm_pin"
                               [readonly]="isCpAddressChecked" >
                      </div>
                    </div>
                  </div>
                </div>
              </div>



              <div *ngIf="i === 2">
                <div class="row">
                  <div class="col-md">
                    <label for="organization" class="form-label">Organization</label>
                    <select class="form-control" id="organization" [(ngModel)]="employee.organization">
                      <option [ngValue]="null">Select Your Organization</option>
                      <option [ngValue]="org.id" *ngFor="let org of orglist">
                        {{org.org_desc}}
                      </option>
                    </select>
                  </div>

                  <div class="col-md">
                    <label for="dob" class="form-label">DOB</label>
                    <input type="date" class="form-control" id="dob" placeholder="Date Of Birth" aria-label="Date Of Birth" [(ngModel)]="employee.dob" [max]="maxDate">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <label for="section" class="form-label">Section</label>
                    <select class="form-control" id="section" [(ngModel)]="employee.division">
                      <option [ngValue]="null">Select Section</option>
                      <option [ngValue]="div.id" *ngFor="let div of divisiontypelist">
                        {{div.div_desc}}
                      </option>
                    </select>
                  </div>


                  <div class="col-md">
                    <label for="body_mark" class="form-label">Body Mark</label>
                    <input type="text" class="form-control" id="body_mark" placeholder="Body Mark" aria-label="Body Mark" [(ngModel)]="employee.body_mark">
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <label for="designation" class="form-label">Designation</label>
                    <select class="form-control" id="designation" [(ngModel)]="employee.designation">
                      <option [ngValue]="null">Select Designation</option>
                      <option [ngValue]="desg.id" *ngFor="let desg of designations">
                        {{desg.desg_desc}}
                      </option>
                    </select>
                  </div>

                  <div class="col-md">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-control" id="gender" [(ngModel)]="employee.gender">
<!--                      <option [ngValue]="null">&#45;&#45;Select Gender&#45;&#45;</option>-->
                      <option [ngValue]="'M'">Male</option>
                      <option [ngValue]="'F'">Female</option>
                      <option [ngValue]="'O'">Others</option>
                    </select>
                  </div>
                </div>
              </div>



              <div *ngIf="i === 3">
                <div class="row">
                  <div class="col-md">
                    <label for="police_verification_no" class="form-label">Police Verification No</label>
                    <input type="text" class="form-control" id="police_verification_no" placeholder="Verification No" aria-label="Verification No" [(ngModel)]="employee.police_verification_no">
                  </div>

                  <div class="col-md">
                    <label for="id_proof" class="form-label">Upload Supporting Document with ID Proof(pdf)</label><br>
                    <label for="id_proof" class="upload-icon-label" title="Upload Supporting Document with ID Proof">
                      <i class="bi bi-cloud-arrow-up btn btn-outline-warning"></i>
                    </label>
                    <input type="file" class="custom-file-input" (change)="onIDproofSelected($event)" id="id_proof" title="Upload ID Proof" style="display: none">
                    <ng-container *ngIf="employee.id_proof">
                      <i class="bi bi-eye btn btn-outline-success enlarge-on-hover" (click)="openPdfInNewTab(employee.id_proof)"></i>
                    </ng-container>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <label for="id_proof" class="form-label">Upload Photo</label><br>
                    <div class="text-center">
                      <span *ngIf="employee && employee.profile_photo">
                        <img [src]="employee.profile_photo" alt="Profile Photo" class="rounded-circle" title="Profile Photo" style="width: 150px; height: 128px" />
                      </span>
                      <input type="file" class="custom-file-input" id="profile_photo" (change)="onProfilePhotoSelected($event, 'Profile Photo')" style="display: none">
                      <br /><br />
                      <label for="profile_photo" class="upload-icon-label" title="Upload Profile Photo">
                        <i class="bi bi-cloud-arrow-up btn btn-outline-info enlarge-on-hover"></i>
                      </label>
                    </div>
                  </div>
                  <div class="col-md">
                    <label for="id_proof" class="form-label">Upload Signature</label><br>
                    <div class="text-center">
                      <span *ngIf="employee && employee.sign_path">
                        <img [src]="employee.sign_path" alt="Signature" class="rounded-square" title="Employee Signature" style="width: 150px; height: 30px" />
                      </span>
                      <input type="file" class="custom-file-input" id="sign_path" (change)="onProfilePhotoSelected($event, 'Employee Sign')" style="display: none">
                      <br /><br />
                      <label for="sign_path" class="upload-icon-label" title="Upload Signature">
                        <i class="bi bi-cloud-arrow-up btn btn-outline-danger enlarge-on-hover"></i>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="navigation-buttons">
            <button class="btn btn-primary" (click)="goToPreviousPage()" [disabled]="currentPageIndex === 0">Previous</button>
            <button class="btn btn-primary" (click)="goToNextPage()" *ngIf="currentPageIndex !== totalPages - 1" [disabled]="currentPageIndex === totalPages - 1">Next</button>
            <button type="submit" class="btn btn-primary" style="margin-left: 44.5%" (click)="doRegistration()" *ngIf="currentPageIndex === totalPages - 1">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
