<ng-container *ngIf="printData && printData!= null">
  <ng-container *ngIf="fromUrl && fromUrl== 'ebaprint'">

    <div class="page-break">
      <!--      <td>-->
      <table>
        <div class="print-border"
          style="width: 97mm; height: 61mm; background-color: white;  border: 1px solid #ccc;max-width: 97mm;max-height: 61mm">

          <ng-container *ngIf="printData.card_type! && printData.card_type==3">
            <div
              style="height: 18mm; background-color: darkred; display: flex; flex-direction: column; justify-content: center;padding: 1mm ">
              <strong
                style="font-size: 5mm; color: white; transform: scaleY(2); line-height: 13mm;letter-spacing: 0.22mm;">
                PRESIDENT'S ESTATE RESIDENT PASS
              </strong>
              <div style=" color: white;line-height: 6mm;"><b>{{printData.eba_pass_no}}</b></div>
            </div>
          </ng-container>
          <ng-container *ngIf="printData.card_type! && printData!.card_type!==3">
            <div
              style="height: 18mm; background-color: darkgreen; display: flex; flex-direction: column; justify-content: center;padding: 1mm ">
              <strong
                style="font-size: 5mm; color: white; transform: scaleY(2); line-height: 13mm;letter-spacing: 0.22mm;">
                PRESIDENT'S ESTATE RESIDENT PASS
              </strong>
              <div style=" color: white;line-height: 6mm;"><b>{{printData.eba_pass_no}}</b></div>
            </div>
          </ng-container>
          <ng-container *ngIf="!printData.card_type">
            <div
              style="height: 18mm; background-color: blue; display: flex; flex-direction: column; justify-content: center;padding: 1mm ">
              <!-- <strong style="font-size: 5mm; color: white; transform: scaleY(2.1)scaleX(1.1); line-height: 13mm;margin-left: 4mm;"> -->
              <strong
                style="font-size: 5mm; color: white; transform: scaleY(2); line-height: 13mm;letter-spacing: 0.22mm;">
                PRESIDENT'S ESTATE RESIDENT PASS
              </strong>
              <div style=" color: white;line-height: 6mm;"><b>{{printData.eba_pass_no}}</b></div>
            </div>
          </ng-container>
          <!-- <ng-container *ngIf="printData.card_type! &&printData.card_type=='P'">
            <div
              style="height: 18mm; background-color: purple; display: flex; flex-direction: column; justify-content: center;padding: 1mm ">
              <strong style="font-size: 5mm; color: white; transform: scaleY(2.1)scaleX(1.2); line-height: 13mm;margin-left: 8mm;">
                PRESIDENT'S ESTATE ENTRY PASS
              </strong>
              <div style=" color: white;line-height: 6mm;"><b>{{printData.eba_pass_no}}</b></div>
            </div>
          </ng-container> -->

          <table
            style="height: 34mm; display: flex; font-size: 3mm;text-align: center;justify-content: center;align-items: center;">
            <tr>
              <td style="min-width:31mm;max-width:31mm;">
                <img [src]="printData.photo_path" style="width: 35mm; height: 39mm;padding-top: 5mm;" />
              </td>

              <!-- <td style="min-width:61mm;max-width:61mm;padding-left: 14mm;transform: scaleX(1.3);"> -->

              <!-- <td style="min-width:31mm;max-width:31mm;">
                <img [src]="printData.photo_path" style="width: 35mm; height: 35mm;padding: 2mm" />
              </td> -->

              <td style="min-width:61mm;max-width:61mm;padding: 10mm;padding-left: 15mm;">

                <table>
                  <tr>
                    <td>
                      <b style="color: red">
                        VALID UPTO:
                      </b>
                      <b style="border: 1px solid black;  display: inline-block;">
                        {{ printData!.eba_pass_exp_date | date:'MMM':'en-US' | uppercase }}
                      </b>
                      <b style="border: 1px solid black;  display: inline-block;">
                        {{ printData!.eba_pass_exp_date | date:'yyyy' }}
                      </b>
                    </td>
                  </tr>
                  <tr>
                    <td *ngIf="printData?.closefamily?.pivot?.rel_name"><b>{{printData.closefamily.pivot.rel_name}}</b>
                    </td>
                    <td *ngIf="printData?.servantfamily?.pivot?.rel_name">
                      <b>{{printData.servantfamily.pivot.rel_name}}</b>
                    </td>
                    <td *ngIf="printData?.servant?.servant_name"><b>{{printData.servant.servant_name}}</b></td>
                  </tr>
                  <tr>
                    <td><b>Relationship with Allottee</b></td>
                  </tr>
                  <tr>
                    <td *ngIf="printData?.closefamily?.rel_desc && printData.closefamily.rel_desc!='Other'">
                      <b>{{printData.closefamily.rel_desc}}</b>
                    </td>
                    <td
                      *ngIf="printData?.closefamily?.rel_desc && printData.closefamily.rel_desc=='Other'&&printData?.closefamily?.pivot?.rel_text">
                      <b>{{printData.closefamily.pivot.rel_text}}</b>
                    </td>
                    <td *ngIf="printData?.servantfamily?.rel_desc"><b>Domestic Help
                        {{printData.servantfamily.rel_desc}}</b></td>
                    <td *ngIf="printData?.servant"><b>Domestic Help</b></td>
                  </tr>
                  <tr>
                    <td *ngIf="printData?.closefamily?.pivot?.rel_dob"><b>Date Of Birth:
                        {{ printData!.closefamily.pivot.rel_dob | date:'dd-MM-yyyy'}}
                      </b></td>
                    <td *ngIf="printData?.servantfamily?.pivot?.rel_dob"><b>Date Of Birth:
                        {{ printData!.servantfamily.pivot.rel_dob | date:'dd-MM-yyyy'}}
                      </b></td>
                    <td *ngIf="printData?.servant?.servant_dob"><b>Date Of Birth:
                        {{ printData!.servant.servant_dob | date:'dd-MM-yyyy'}}
                      </b></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <div style="height: 4mm; display: flex; flex-direction: column;margin-top: -1mm;margin-left: 75mm  ">
            <span *ngIf="printData.ussign">
              <img [src]="printData.ussign" alt="Signature" style="width: 10mm; height: 4mm" class="rounded-square"
                title="Employee Signature" />
            </span>
          </div>
          <ng-container *ngIf="printData.card_type! &&printData.card_type==3">
            <div
              style="height: 4mm; background-color: darkred; display: flex; flex-direction: column; text-align: right;margin-top: 3mm; ">
              <div style=" color: white;line-height: 3mm; text-align: right;font-size: 2.2mm;padding-right: 2mm;">
                <b>UNDER SECRETARY (EBA)</b>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="printData.card_type! &&printData.card_type!==3">
            <div
              style="height: 4mm; background-color: green; display: flex; flex-direction: column; text-align: right;margin-top: 3mm; ">
              <div style=" color: white;line-height: 3mm; text-align: right;font-size: 2.2mm;padding-right: 2mm;">
                <b>UNDER SECRETARY (EBA)</b>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!printData.card_type">
            <div
              style="height: 4mm; background-color: blue; display: flex; flex-direction: column; text-align: right;margin-top: 3mm; ">
              <div style=" color: white;line-height: 3mm; text-align: right;font-size: 2.2mm;padding-right: 2mm;">
                <b>UNDER SECRETARY (EBA)</b>
              </div>
            </div>
          </ng-container>
          <!-- <ng-container *ngIf="printData.card_type! &&printData.card_type=='P'">
            <div
              style="height: 4mm; background-color: purple; display: flex; flex-direction: column; text-align: right;margin-top: 3mm; ">
              <div style=" color: white;line-height: 3mm; text-align: right;font-size: 2.2mm;padding-right: 2mm;">
                <b>UNDER SECRETARY (EBA)</b>
              </div>
            </div>
          </ng-container> -->

        </div>

      </table>
      <!--                  </td>-->

    </div>

    <div class="row print-hidden"></div>
    <!--                  <td>-->
    <div class="page-break">
      <table>
        <div
          style="width: 97mm; height: 61.7mm;  display: flex;flex-direction: column;border: 1px solid #ccc; font-size: 2.5mm;padding: 1mm;max-width: 97mm;max-height: 61.7mm">
          <table>
            <tr>
              <td><b>Address:</b></td>
              <td colspan="2">
                {{printData!.address}}<br />
              </td>

            </tr>
            <tr>
              <td><b>Blood Group:</b></td>
              <td>N/A</td>
            </tr>
            <tr>
              <td style="width: 30%;"><b>Date of issue:</b></td>
              <td>{{ printData!.created_at | date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
              <td><b>ID mark:</b></td>
              <td>N/A</td>
            </tr>
            <br>
            <tr>
              <td colspan="3">
                This Photo Entry Pass is the property of President's Secretariat. It must be returned by the holder when
                demanded by the issuing Authority.
              </td>
            </tr>
            <br>

            <tr>
              <td colspan="2">
                If found please return the pass to:-
                <br><b>The Under Secretary (EBA)</b>
                <br><b>Rashtrapati Bhavan</b>
                <br><b>New Delhi-110004</b>
                <br><b>Tel.No. 011-23015321</b>
              </td>
              <td>
                <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="(printData!.eba_pass_no ) || ''" [bc-width]="1"
                  [bc-height]="30"></ngx-barcode6>
              </td>

            </tr>
          </table>
        </div>

      </table>
      <!--      </td>-->
    </div>


    <!--          <button class="btn btn-outline-success" *ngIf="printbutton" (click)="printbuttonchange();print()">Print</button>-->

  </ng-container>



  <ng-container *ngIf="fromUrl && fromUrl== 'empprint'">
    <div class="page-break">
      <table>
        <div class="print-border"
          style="width: 97mm; height: 61mm; background-color: white;  border: 1px solid #ccc;max-width: 97mm;max-height: 61mm">

          <ng-container>
            <div
              style="height: 18mm; background-color: purple; display: flex; flex-direction: column; justify-content: center;padding: 1mm ">
              <strong
                style="font-size: 5mm; color: white; transform: scaleY(2); line-height: 13mm;letter-spacing: 0.22mm;">
                PRESIDENT'S ESTATE ENTRY PASS
              </strong>
              <div style=" color: white;line-height: 6mm;"><b>{{printData.emp_pass_no}}</b></div>
            </div>
          </ng-container>

          <table
            style="height: 34mm; display: flex; font-size: 3mm;text-align: center;justify-content: center;align-items: center;">
            <tr>
              <td style="min-width:31mm;max-width:31mm;">
                <img [src]="printData.eba_application_details?.photo"
                  style="width: 35mm; height: 39mm;padding-top: 5mm;" />
              </td>
              <td style="min-width:61mm;max-width:61mm;padding: 10mm;padding-left: 15mm;">
                <table>
                  <tr>
                    <td>
                      <b style="color: red">
                        VALID UPTO:
                      </b>
                      <b style="border: 1px solid black;  display: inline-block;">
                        {{ printData!.emp_pass_exp_date | date:'MMM':'en-US' | uppercase }}
                      </b>
                      <b style="border: 1px solid black;  display: inline-block;">
                        {{ printData!.emp_pass_exp_date | date:'yyyy' }}
                      </b>
                    </td>
                  </tr>
                  <tr>
                    <td *ngIf="printData?.eba_application_details?.name_print">
                      <b>{{printData.eba_application_details?.name_print}}</b>
                    </td>
                  </tr>
                  <tr>
                    <td *ngIf="printData.eba_application_details?.office_code"><b>{{
                        getOfficeDesc(printData.eba_application_details?.office_code) }}</b></td>
                  </tr>
                  <tr>
                    <td *ngIf="printData.eba_application_details?.designation_code"><b>{{
                        getDesignationDesc(printData.eba_application_details?.designation_code) }}</b></td>
                  </tr>
                  <tr>
                    <td *ngIf="printData?.eba_application_details?.dob"><b>Date Of Birth:
                        {{ printData!.eba_application_details?.dob | date:'dd-MM-yyyy'}}
                      </b></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <div style="height: 4mm; display: flex; flex-direction: column;margin-top: -1mm;margin-left: 75mm  ">
            <span *ngIf="printData.ussign">
              <img [src]="printData.ussign" alt="Signature" style="width: 10mm; height: 4mm" class="rounded-square"
                title="Employee Signature" />
            </span>
          </div>
          <div
            style="height: 4mm; background-color: purple; display: flex; flex-direction: column; text-align: right;margin-top: 3mm; ">
            <div style=" color: white;line-height: 3mm; text-align: right;font-size: 2.2mm;padding-right: 2mm;">
              <b>UNDER SECRETARY (EBA)</b>
            </div>
          </div>
        </div>
      </table>
    </div>

    <div class="row print-hidden"></div>
    <div class="page-break">
      <table>
        <div
          style="width: 97mm; height: 61.7mm;  display: flex;flex-direction: column;border: 1px solid #ccc; font-size: 2.5mm;padding: 1mm;max-width: 97mm;max-height: 61.7mm">
          <table>
            <tr>
              <td><b>Address:</b></td>
              <td colspan="2">
                {{printData.eba_application_details?.curr_add}}
                <ng-container *ngIf="printData.eba_application_details?.curr_district">,{{
                  getDistrictName(printData.eba_application_details?.curr_district)
                  }}</ng-container>
                <ng-container *ngIf="printData.eba_application_details?.curr_state">,{{
                  getStateName(printData.eba_application_details?.curr_state) }}
                  -</ng-container> {{printData.eba_application_details?.curr_pin}}<br />
              </td>
            </tr>
            <tr>
              <td><b>Blood Group:</b></td>
              <td>{{printData.eba_application_details?.blood_group||printData.eba_application_details?.blood_typ_name}}
              </td>
            </tr>
            <tr>
              <td style="width: 30%;"><b>Date of issue:</b></td>
              <td>{{ printData!.created_at | date:'dd-MM-yyyy'}}</td>
            </tr>
            <tr>
              <td><b>ID mark:</b></td>
              <td colspan="2">CUT MARK ON RIGHT THUMB</td>
            </tr>
            <br>
            <tr>
              <td colspan="3">
                This Photo Entry Pass is the property of President's Secretariat. It must be returned by the holder when
                demanded by the issuing Authority.
              </td>
            </tr>
            <br>
            <tr>
              <td colspan="2">
                If found please return the pass to:-
                <br><b>The Under Secretary (EBA)</b>
                <br><b>Rashtrapati Bhavan</b>
                <br><b>New Delhi-110004</b>
                <br><b>Tel.No. 011-23015321</b>
              </td>
              <td>
                <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="(printData!.emp_pass_no ) || ''" [bc-width]="1"
                  [bc-height]="30"></ngx-barcode6>
              </td>
            </tr>
          </table>
        </div>
      </table>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="printData && printData!= null">
  <ng-container *ngIf="fromUrl && fromUrl== 'rbprint'">

    <div class="page-break">

      <!--      <td>-->
      <table>
        <!-- <div *ngIf="shouldRenderPassType()" class="print-border" [ngStyle]="{
       'background-image': 'url(' + getPassTypeImage() + ')',
       'width': '80.5mm',
       'height': '128mm',
       'max-width': '81mm',
       'max-height': '128mm',
       'background-size': '100%',
       'background-position': 'center',
       'background-repeat': 'no-repeat',
       'position': 'relative'
     }"> -->

        <div *ngIf="printData.card_type_id==1" class="print-border" [ngStyle]="{
      'background-image': 'url(\'assets/images/pass_frontG.png\')',
      'width': '82mm',
      'height': '128.325mm',
      'background-size': '97%',
      'background-repeat': 'no-repeat',
      'position': 'relative',
      'max-width': '82mm',
      'max-height': '130mm',
      'background-position': 'center',
    }">

          <b style="color: white; display: inline-block; margin-top: 2.5cm; text-align: center;width: 100%;">
            VALID UPTO {{printData.valid_to| date:'dd-MMM-yyyy' | uppercase}}
          </b>

          <table style="width: 100%; border-collapse: collapse;">
            <tr>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 9 && printData.applicationdetails.application.payLevel <= 13">
                <td>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 55.5mm; height: 59mm; padding: 3mm;  padding-right: 7mm;" />
                </div>
                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 14 && printData.applicationdetails.application.payLevel <= 17">
                <td>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 55.5mm; height: 59mm; padding: 3mm;  padding-right: 7mm;" />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 18 && printData.applicationdetails.application.payLevel <= 22">
                <td>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 55.5mm; height: 59mm; padding: 3mm;  padding-right: 7mm;" />
                </div>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 55.5mm; height: 59mm; padding: 2.3mm;  padding-right: 7mm;" />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="printData.applicationdetails.application.payLevel < 9">

                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 67.9mm; height: 59.5mm; padding: 3mm; padding-left: 19mm; padding-right: 2.7mm;" />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
            </tr>
          </table>

          <div style="text-align: center; width: 100%; padding-top: 2mm;  ">
            <b style="color: white;">
              {{ printData.name_print || printData.applicationdetails.application.emp_name}}
            </b>
          </div>
          <div style="text-align: center; width: 100%;  ">
            <b style="color: white;">
              {{ printData.print_desg_desc || printData.applicationdetails.application.designation }}
            </b>
          </div>
          <div style="text-align: center; width: 100%;">
            <b style="color: white;">
              {{printData.applicationdetails.application.organization}}
            </b>
          </div>


          <tr>
            <td style="text-align: center; padding-left: 2mm;">
              <ng-container *ngIf="printData.applicationdetails.application.sign_path">
                <img [src]="printData.applicationdetails.application.sign_path" alt="Signature"
                  style="width: 20mm; height: 8mm;" class="rounded-square" title="Employee Signature" />
              </ng-container>
              <div style="font-size: 3.3mm; text-align: center;">
                Signature of pass holder
              </div>
            </td>
            <td style="text-align: center;">
              <ng-container *ngIf="printData.ussign">
                <img [src]="printData.ussign" alt="Signature" style="width: 20mm; height: 8mm;" class="rounded-square"
                  title="Dcp Signature" />
              </ng-container>
              <div style="font-size: 3.3mm; text-align: right; padding-left: 3mm;">
                DCP RP Bhavan (Security)
              </div>
            </td>
          </tr>

        </div>

        <div *ngIf="printData.card_type_id==2" class="print-border" [ngStyle]="{
          'background-image': 'url(\'assets/images/pass_frontPc.png\')',
          'width': '82mm',
      'height': '128.325mm',
      'background-size': '96.7%',
      'background-repeat': 'no-repeat',
      'position': 'relative',
      'max-width': '82mm',
      'max-height': '130mm',
      'background-position': 'center',
        }">

          <b style="color: white; display: inline-block; margin-top: 2.5cm; text-align: center;width: 100%;">
            VALID UPTO {{printData.valid_to| date:'dd-MMM-yyyy' | uppercase}}
          </b>

          <table style="width: 100%; border-collapse: collapse;">
            <tr>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 9 && printData.applicationdetails.application.payLevel <= 13">
                <td>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 66.5mm; height: 59.1mm;padding-left: 1mm;  padding-right: 13.9mm;padding-top: 4mm;padding-bottom: 4mm; " />
                </div>


                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 14 && printData.applicationdetails.application.payLevel <= 17">
                <td>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 66.5mm; height: 59.1mm;padding-left: 1mm;  padding-right: 13.9mm;padding-top: 4mm;padding-bottom: 4mm; " />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 18 && printData.applicationdetails.application.payLevel <= 22">
                <td>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 66.5mm; height: 59.1mm;padding-left: 1mm;  padding-right: 13.9mm;padding-top: 4mm;padding-bottom: 4mm; " />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="printData.applicationdetails.application.payLevel < 9">

                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 67.3mm; height: 58.6mm;  padding-right: 1.5mm;padding-top: 5mm;padding-bottom: 4mm;padding-left: 16mm; " />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
            </tr>
          </table>



          <div style="text-align: center; width: 100%; margin-top: -2mm;  ">
            <b style="color: white;">
              {{ printData.name_print || printData.applicationdetails.application.emp_name}}
            </b>
          </div>
          <div style="text-align: center; width: 100%;  ">
            <b style="color: white;">
              {{ printData.print_desg_desc || printData.applicationdetails.application.designation }}
            </b>
          </div>
          <div style="text-align: center; width: 100%;">
            <b style="color: white;">
              {{printData.applicationdetails.application.organization}}
            </b>
          </div>


          <tr>
            <td style="text-align: center;padding-left: 2mm;">
              <ng-container *ngIf="printData.applicationdetails.application.sign_path">
                <img [src]="printData.applicationdetails.application.sign_path" alt="Signature"
                  style="width: 20mm; height: 8mm;" class="rounded-square" title="Employee Signature" />
              </ng-container>
              <div style="font-size: 3.3mm; text-align: center;">
                Signature of pass holder
              </div>
            </td>
            <td style="text-align: center;">
              <ng-container *ngIf="printData.ussign">
                <img [src]="printData.ussign" alt="Signature" style="width: 20mm; height: 8mm;" class="rounded-square"
                  title="Dcp Signature" />
              </ng-container>
              <div style="font-size: 3.3mm; text-align: right; padding-left: 3mm;">
                DCP RP Bhavan (Security)
              </div>
            </td>
          </tr>

        </div>

        <div *ngIf="printData.card_type_id==3" class="print-border" [ngStyle]="{
              'background-image': 'url(\'assets/images/pass_frontR.png\')',
              'width': '82mm',
      'height': '128.325mm',
      'background-size': '97%',
      'background-repeat': 'no-repeat',
      'position': 'relative',
      'max-width': '82mm',
      'max-height': '130mm',
      'background-position': 'center',

            }">


          <b style="color: white; display: inline-block; margin-top: 2.5cm; text-align: center;width: 100%;">
            VALID UPTO {{printData.valid_to| date:'dd-MMM-yyyy' | uppercase}}
          </b>

          <table style="width: 100%; border-collapse: collapse;">
            <tr>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 9 && printData.applicationdetails.application.payLevel <= 13">
                <td>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 55.5mm; height: 59mm; padding: 3mm;  padding-right: 7mm;" />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 14 && printData.applicationdetails.application.payLevel <= 17">
                <td>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 55.5mm; height: 59mm; padding: 3mm;  padding-right: 7mm;" />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 18 && printData.applicationdetails.application.payLevel <= 22">
                <td>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 55.5mm; height: 59mm; padding: 3mm;  padding-right: 7mm;" />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="printData.applicationdetails.application.payLevel < 9">

                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 67.9mm; height: 59.5mm; padding: 3mm; padding-left: 19mm; padding-right: 2.7mm;" />
                </div>


                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 67.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
            </tr>
          </table>

          <div style="text-align: center; width: 100%; padding-top: 2mm;  ">
            <b style="color: white;">
              {{ printData.name_print || printData.applicationdetails.application.emp_name}}
            </b>
          </div>
          <div style="text-align: center; width: 100%;  ">
            <b style="color: white;">
              {{ printData.print_desg_desc || printData.applicationdetails.application.designation }}
            </b>
          </div>
          <div style="text-align: center; width: 100%;">
            <b style="color: white;">
              {{printData.applicationdetails.application.organization}}
            </b>
          </div>


          <tr>
            <td style="text-align: center;padding-left: 2mm;">
              <ng-container *ngIf="printData.applicationdetails.application.sign_path">
                <img [src]="printData.applicationdetails.application.sign_path" alt="Signature"
                  style="width: 20mm; height: 8mm;" class="rounded-square" title="Employee Signature" />
              </ng-container>
              <div style="font-size: 3.3mm; text-align: center;">
                Signature of pass holder
              </div>
            </td>
            <td style="text-align: center;">
              <ng-container *ngIf="printData.ussign">
                <img [src]="printData.ussign" alt="Signature" style="width: 20mm; height: 8mm;" class="rounded-square"
                  title="Dcp Signature" />
              </ng-container>
              <div style="font-size: 3.3mm; text-align: right; padding-left: 3mm;">
                DCP RP Bhavan (Security)
              </div>
            </td>
          </tr>

        </div>

        <div *ngIf="printData.card_type_id==4" class="print-border" [ngStyle]="{
                  'background-image': 'url(\'assets/images/pass_frontY.png\')',
                  'width': '82mm',
                  'height': '128.325mm',
                  'background-size': '97%',
                  'background-repeat': 'no-repeat',
                  'position': 'relative',
                  'max-width': '82mm',
                  'max-height': '130mm',
                  'background-position': 'center',
                }">

          <b style="color: white; display: inline-block; margin-top: 2.5cm; text-align: center;width: 100%;">
            VALID UPTO {{printData.valid_to| date:'dd-MMM-yyyy' | uppercase}}
          </b>

          <table style="width: 100%; border-collapse: collapse;">
            <tr>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 9 && printData.applicationdetails.application.payLevel <= 13">
                <td>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 54.5mm; height: 58mm; padding: 2mm;  padding-right: 7.3mm;padding-top: 4mm;padding-bottom: 2.5mm;padding-left: 3.5mm;" />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 66.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 14 && printData.applicationdetails.application.payLevel <= 17">
                <td>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 54.5mm; height: 58mm; padding: 2mm;  padding-right: 7.3mm;padding-top: 4mm;padding-bottom: 2.5mm;padding-left: 3.5mm;" />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 66.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
              <ng-container
                *ngIf="printData.applicationdetails.application.payLevel >= 18 && printData.applicationdetails.application.payLevel <= 22">
                <td>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" /><br>
                  <img src="assets/images/star.png" />
                </td>
                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width: 54.5mm; height: 58mm; padding: 2mm;  padding-right: 7.3mm;padding-top: 4mm;padding-bottom: 2.5mm;padding-left: 3.5mm;" />
                </div>

                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 66.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>

              <ng-container
                *ngIf="!printData.applicationdetails.application.payLevel || printData.applicationdetails.application.payLevel < 9">
                <div
                  style="color: white;position: absolute; top: 0; left: -32mm; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: -50mm;">
                    <b>CASUAL EMPLOYEE</b><br>
                    <b>TEMPORARY PASS</b>
                  </div>
                </div>

                <div>
                  <img [src]="printData.applicationdetails.application.profile_photo"
                    style="width:66.7mm; height: 58mm; padding: 2mm;  padding-top: 4mm;padding-bottom: 3mm;padding-left: 20mm; padding-right: 3mm;" />
                </div>
                <div
                  style="color: white;position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;font-size: 5mm;">
                  <div
                    style="transform: rotate(-90deg); width: 100%; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;padding-left: 6mm; padding-top: 66.2mm;">
                    <b>{{printData.card_no}}</b>
                  </div>
                </div>
              </ng-container>
            </tr>
          </table>

          <div style="text-align: center; width: 100%; padding-top: 2mm;  ">
            <b style="color: white;">
              {{ printData.name_print || printData.applicationdetails.application.emp_name}}
            </b>
          </div>
          <div style="text-align: center; width: 100%;  ">
            <b style="color: white;">
              {{ printData.print_desg_desc || printData.applicationdetails.application.designation }}
            </b>
          </div>
          <div style="text-align: center; width: 100%;">
            <b style="color: white;">
              {{printData.applicationdetails.application.organization}}
            </b>
          </div>


          <tr>
            <td style="text-align: center;padding-left: 2mm;">
              <ng-container *ngIf="printData.applicationdetails.application.sign_path">
                <img [src]="printData.applicationdetails.application.sign_path" alt="Signature"
                  style="width: 20mm; height: 8mm;" class="rounded-square" title="Employee Signature" />
              </ng-container>
              <div style="font-size: 3.3mm; text-align: center;">
                Signature of pass holder
              </div>
            </td>
            <td style="text-align: center;">
              <ng-container *ngIf="printData.ussign">
                <img [src]="printData.ussign" alt="Signature" style="width: 20mm; height: 8mm;" class="rounded-square"
                  title="Dcp Signature" />
              </ng-container>
              <div style="font-size: 3.3mm; text-align: right; padding-left: 3mm;">
                DCP RP Bhavan (Security)
              </div>
            </td>
          </tr>

        </div>
      </table>
      <!--                  </td>-->

    </div>

    <div class="row print-hidden"></div>
    <!--                  <td>-->
    <div class="page-break">
      <table>
        <div
          style="width: 82 mm; height: 128.3mm;  display: flex;flex-direction: column;border: 1px solid #ccc; font-size: 2.5mm;padding: 1mm;max-width: 82mm;max-height: 128.3mm">
          <img src="assets/images/RB_Sketch_Forecourt.jpg" alt="Photo"
            style="width: 81.7mm;height:25mm;margin-left:-1mm;position: relative">
          <table style="margin: 3mm;">

            <b style="font-size: 4mm">Blood Group: {{ printData.applicationdetails.application.blood_group}}</b><br>
            <b style="font-size: 4mm">Date of Birth: {{ printData.applicationdetails.application.dob |
              date:'dd-MM-yyyy'}}</b><br>
            <b style="font-size: 4mm">ID mark: {{ printData.applicationdetails.application.body_mark}}</b>
            <br>
            <span style="font-size: 3.5mm">
              This Photo Pass is the property of the President's Secretariat. It must be returned by the holder on its
              expiry or when he/she ceases to be with the President's Secretariat or when demanded by the issuing
              authority.
            </span><br>
            <b style="font-size: 4mm; font-style: italic;">
              If found, please post it in unstamped envelope to:
            </b><br>
            <b style="font-size: 4mm; ">
              Dy. Commisioner of police
            </b>
            <br>
            <span style="font-size: 3.5mm">
              Rashtrapati Bhavan (Security),
            </span>
            <br>
            <span style="font-size: 3.5mm">
              New Delhi - 110004
            </span>
            <br>
            <span style="font-size: 3.5mm">
              Tel : 23010067,23017250
            </span>
            <br>
            <span style="width: 81.7mm;max-width: 81.7mm;text-align: center;">
              <ngx-barcode6 [bc-format]="'CODE128'" [bc-value]="(printData!.card_no ) || ''" [bc-width]="1"
                [bc-height]="30"></ngx-barcode6>
            </span>


          </table>
        </div>

      </table>
      <!--      </td>-->
    </div>


  </ng-container>
</ng-container>
