<div class="form-check form-check-inline mb-2" *ngIf="fromfunction === 'totalpass'"
  style="display: flex; justify-content: flex; gap: 1.5rem; flex-wrap: wrap;margin-top: 20px;margin-left: 5px;">

  <label class="form-check-label" style="white-space: nowrap;">
    <input type="radio" class="form-check-input me-1" name="cardType" value="eba" [(ngModel)]="selectedCardType">
    EBA Card ({{ ebaprintData.length }})
  </label>

  <label class="form-check-label" style="white-space: nowrap;">
    <input type="radio" class="form-check-input me-1" name="cardType" value="emp" [(ngModel)]="selectedCardType">
    EMP Card ({{ empreportData.length }})
  </label>
</div>

<div [class.container]="!fromfunction || fromfunction ==null || fromfunction == 'edit' || fromfunction == 'summary'"
  [class.container-fluid]="fromfunction && fromfunction == 'totalpass'">
  <div class="card shadow">
    <div class="card-header">
      <div class="card-title">
        <b>Approved List <ng-container *ngIf="!fromfunction || fromfunction ==null">({{ebaprintData.length +
            empPrintData.length}})</ng-container></b>
      </div>
    </div>

    <ng-container *ngIf="selectedCardType === 'eba'">
      <div class="card-body">
        <div>
          <div class="row">
            <table class="table table-stripped">
              <thead>
                <tr>
                  <!-- <th>Sl.No</th> -->
                  <th>Employee Name</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">RB Card No</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">Valid To</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">Card Status</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">Mobile</th>
                  <!-- <th *ngIf="fromfunction && fromfunction == 'totalpass'">DOB</th> -->
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">DOR</th>
                  <!-- <th *ngIf="fromfunction && fromfunction == 'totalpass'">Gender</th> -->
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">Designation</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">Organization,Division</th>
                  <!-- <th *ngIf="fromfunction && fromfunction == 'totalpass'">Pay Level</th> -->
                  <th>Relation Name</th>
                  <th>Relation</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">Gender</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">Relation DOB</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">Address</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">Relation Mobile</th>
                  <th>EBA Pass No</th>
                  <th *ngIf="fromfunction && fromfunction == 'totalpass'">EBA Card Status</th>
                  <th>Valid from</th>
                  <th>Valid To</th>
                  <th *ngIf="!fromfunction || fromfunction ==null">Rfid</th>
                  <th *ngIf="!fromfunction || fromfunction ==null">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ebaprint of ebaprintData; let i = index">
                  <!-- <td>{{ i + 1 }}</td> -->
                  <td>
                    <ng-container *ngIf="ebaprint.emp_name">{{ebaprint.emp_name}}</ng-container>
                    <ng-container
                      *ngIf="ebaprint?.closefamily?.emp_name">{{ebaprint?.closefamily?.emp_name}}</ng-container>
                    <ng-container
                      *ngIf="ebaprint?.servantfamily?.emp_name">{{ebaprint?.servantfamily?.emp_name}}</ng-container>
                    <ng-container *ngIf="ebaprint?.servant?.emp_name">{{ebaprint?.servant?.emp_name}}</ng-container>
                  </td>
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'" [ngStyle]="{
                  'color': ebaprint.card_type_id == 1 ? 'green' :
                          ebaprint.card_type_id == 2 ? 'purple' :
                          ebaprint.card_type_id == 3 ? 'red' :
                          ebaprint.card_type_id == 4 ? 'goldenrod' : 'grey',
                  'font-weight': 'bold'
                }">
                    {{ ebaprint.card_no }}
                  </td>
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.valid_to | date:'dd-MM-yyyy'}}
                  </td>
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.active === 1 ? 'Active' :
                    (ebaprint.active === 0 ? 'Inactive' : '') }}</td>
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.emp_mob }}</td>
                  <!-- <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.dob | date:'dd-MM-yyyy'}}</td> -->
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.dor | date:'dd-MM-yyyy'}}</td>
                  <!-- <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.gender }}</td> -->
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.desg_desc }}</td>
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.org_desc }},{{ ebaprint.div_desc
                    }}
                  </td>
                  <!-- <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.pay_desc }}</td> -->
                  <td>
                    <ng-container *ngIf="ebaprint.rel_Name">{{ebaprint.rel_Name}}</ng-container>
                    <ng-container
                      *ngIf="ebaprint?.closefamily?.pivot?.rel_name">{{ebaprint?.closefamily?.pivot?.rel_name}}</ng-container>
                    <ng-container
                      *ngIf="ebaprint?.servantfamily?.pivot?.rel_name">{{ebaprint?.servantfamily?.pivot?.rel_name}}</ng-container>
                    <ng-container
                      *ngIf="ebaprint?.servant?.servant_name">{{ebaprint?.servant?.servant_name}}</ng-container>
                    <ng-container
                      *ngIf="ebaprint?.closefamily?.rel_name">{{ebaprint?.closefamily?.rel_name}}</ng-container>
                    <ng-container
                      *ngIf="ebaprint?.servantfamily?.rel_name">{{ebaprint?.servantfamily?.rel_name}}</ng-container>
                  </td>
                  <td>
                    <ng-container *ngIf="ebaprint.Relation">{{ebaprint.Relation}}</ng-container>
                    <ng-container
                      *ngIf="ebaprint?.closefamily?.rel_desc">{{ebaprint.closefamily.rel_desc}}</ng-container>
                    <ng-container *ngIf="ebaprint?.servantfamily?.rel_desc">Domestic Help
                      {{ebaprint.servantfamily.rel_desc}}</ng-container>
                    <ng-container *ngIf="ebaprint?.servant">Domestic Help</ng-container>
                  </td>
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.rel_Gender }}</td>
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.rel_DOB }}</td>
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.Address }}</td>
                  <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ ebaprint.rel_Mobile }}</td>
                  <td>{{ ebaprint.eba_pass_no }}</td>
                  <td>{{ ebaprint.rel_active ? 'Active' : 'Inactive' }}</td>
                  <td>{{ ebaprint!.created_at | date:'dd-MM-yyyy'}}</td>
                  <td>{{ ebaprint.eba_pass_exp_date | date:'dd-MM-yyyy'}}</td>

                  <!-- <td >{{ebaprint.eba_pass_no}}</td> -->

                  <!-- <td >{{ ebaprint!.eba_pass_exp_date | date:'dd-MM-yyyy'}}</td> -->
                  <td *ngIf="!fromfunction || fromfunction ==null">
                    <div class="col" *ngIf="ebaprint.rfid ==null">
                      <button class="btn btn-primary enlarge-on-hover" (click)="hoverClick($event)"
                        (click)="openebacardPopup(i)">
                        <!--                  <button class="btn btn-primary enlarge-on-hover" (click)="hoverClick($event)" (click)="printpage(i)">-->
                        Update
                      </button>
                    </div>
                    <div class="col" *ngIf="ebaprint.rfid !==null">
                      {{ebaprint.rfid}}
                    </div>
                  </td>
                  <td *ngIf="!fromfunction || fromfunction ==null">
                    <div class="col"
                      *ngIf="ebaprint.rfid ==null && (ebaprint.printStatus==false ||  ebaprint.printStatus==null)">
                      <button class="btn btn-success enlarge-on-hover" (click)="hoverClick($event)"
                        (click)="printpage(i)">
                        Print
                      </button>
                    </div>
                    <div class="col" *ngIf="ebaprint.rfid ==null && ebaprint.printStatus==true ">
                      <button class="btn btn-success enlarge-on-hover" (click)="hoverClick($event)"
                        (click)="printpage(i)">
                        Re-Print
                      </button>
                    </div>
                  </td>
                </tr>

                <tr *ngFor="let ebaprint of empPrintData; let i = index">
                  <!-- <td>{{ i + 1 + ebaprintData.length}}</td> -->
                  <td>
                    <ng-container
                      *ngIf="ebaprint?.eba_application_details?.name_print">{{ebaprint?.eba_application_details?.name_print}}</ng-container>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    EMP-card
                  </td>
                  <td>{{ebaprint.emp_pass_no}}</td>
                  <td>{{ ebaprint!.issue_date | date:'dd-MM-yyyy'}}</td>
                  <td>{{ ebaprint!.emp_pass_exp_date | date:'dd-MM-yyyy'}}</td>
                  <td *ngIf="!fromfunction || fromfunction ==null">
                    <div class="col" *ngIf="ebaprint.rfid ==null">
                      <button class="btn btn-primary enlarge-on-hover" (click)="hoverClick($event)"
                        (click)="openempcardPopup(i)">
                        <!--                  <button class="btn btn-primary enlarge-on-hover" (click)="hoverClick($event)" (click)="printpage(i)">-->
                        Update
                      </button>
                    </div>
                    <div class="col" *ngIf="ebaprint.rfid !==null">
                      {{ebaprint.rfid}}
                    </div>
                  </td>
                  <td *ngIf="!fromfunction || fromfunction ==null">
                    <div class="col"
                      *ngIf="ebaprint.rfid ==null && (ebaprint.printStatus==false ||  ebaprint.printStatus==null)">
                      <button class="btn btn-success enlarge-on-hover" (click)="hoverClick($event)"
                        (click)="printemppage(i)">
                        Print
                      </button>
                    </div>
                    <div class="col" *ngIf="ebaprint.rfid ==null && ebaprint.printStatus==true ">
                      <button class="btn btn-success enlarge-on-hover" (click)="hoverClick($event)"
                        (click)="printemppage(i)">
                        Re-Print
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>


    <ng-container *ngIf="selectedCardType === 'emp'">
      <ng-container *ngIf="fromfunction === 'totalpass'">
        <div class="card-body">
          <div>
            <div class="row">
              <table class="table table-stripped">
                <thead>
                  <tr>
                    <th>Employee Name</th>
                    <th>Mobile</th>
                    <th>DOB</th>
                    <!-- <th>DOR</th> -->
                    <th>Gender</th>
                    <th>Designation</th>
                    <th>Organization</th>
                    <th>Address</th>
                    <th>EMP Pass No</th>
                    <th>EMP Card Status</th>
                    <th>Valid from</th>
                    <th>Valid To</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let empreport of empreportData; let i = index">
                    <td>{{ empreport?.emp_name }}</td>
                    <td>{{ empreport?.emp_mob }}</td>
                    <td>{{ empreport?.dob | date: 'dd-MM-yyyy' }}</td>
                    <!-- <td>{{ empreport?.dor | date: 'dd-MM-yyyy' }}</td> -->
                    <td>{{ empreport?.gender }}</td>
                    <td>{{ empreport?.desg_desc }}</td>
                    <td>{{ empreport?.org_desc }}</td>
                    <td>{{ empreport?.curr_add }}</td>
                    <td>{{ empreport?.emp_pass_no }}</td>
                    <td>{{ empreport?.active === 1 ? 'Active' : empreport?.active === 0 ? 'Inactive' : 'Null' }}
                    </td>
                    <td>{{ empreport?.created_at | date: 'dd-MM-yyyy' }}</td>
                    <td>{{ empreport?.emp_pass_exp_date | date: 'dd-MM-yyyy' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>





<td *ngIf="printData && printData!= null">
  <div class="modal modal-above-header" tabindex="-1" data-bs-backdrop="false" [ngStyle]="{'display': ebacard }"
    style="backdrop-filter: blur(3px);background-color: rgba(128, 128, 128, 0.7); overflow-y: auto; ">
    <div class="modal-dialog modal-dialog-centered modal-m">
      <div class="modal-content" style="width:100mm">
        <div class="modal-header">
          <h5 class="modal-title">
            <b>{{printData.eba_pass_no || printData.emp_pass_no}}</b>
          </h5>
        </div>
        <div class="modal-body">
          <label class="form-label">Rfid no</label>
          <input type="text" class="form-control" placeholder="xxxxx" aria-label="Name" [(ngModel)]="Rfid">
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary enlarge-on-hover" (click)="hoverClick($event)"
            (click)="closeebacardPopup()">
            Close
          </button>

          <button *ngIf="wpdata=='eba'" type="button" class="btn btn-outline-info enlarge-on-hover"
            (click)="hoverClick($event)" (click)="rfid(printData.eba_pass_no)">
            Update Rfid
          </button>
          <button *ngIf="wpdata=='emp'" type="button" class="btn btn-outline-info enlarge-on-hover"
            (click)="hoverClick($event)" (click)="rfid( printData.emp_pass_no)">
            Update Rfid
          </button>
        </div>
      </div>
    </div>
  </div>
</td>

<mat-progress-spinner *ngIf="isLoading" mode="indeterminate" class="loading-spinner"></mat-progress-spinner>
