<div class="row" style="margin-top: 10%">
  <div class="col-md-8 offset-md-2">
    <div class="form-holder card shadow">
      <div class="card-body">

      <form>
        <div class="row">
          <div class="col-md">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" [(ngModel)]="email">
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="col-md">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password">
          </div>
        </div>




        <button type="submit" class="btn btn-primary" (click)="doLogin()" >Submit</button>
      </form>

      </div>
    </div>
  </div>
</div>
