<div>
  <div class="maincontainer ">
    <div class="row">
      <div class=" sideimage shadow"
        style="background-image: url('assets/images/rb.jpg');background-size: cover; background-position: center;background-repeat: no-repeat;width: 650px ;">
      </div>
      <div class=" monkeylogin" style="background: linear-gradient(lavender,white)">
        <div class="animcon" id="animcon" style="background-image: url('assets/images/rbnight.jpg');">
        </div>
        <br>
        <div [ngClass]="{ 'd-none': !showForm1 }">
          <div class="formcon">
            <!--        <input type="email" id="mail" name="" (click)="openEye()" class="tb" placeholder="Email" autocomplete="off" [(ngModel)]="username"/>-->
            <input type="text" id="text" name="" class="tb" placeholder="RB Card/Mobile Number" autocomplete="off"
              [(ngModel)]="username" />
            <br />
            <br />
            <!--        <input type="password" id="pwdbar" (click)="closeEye()" name="pwd" class="tb" placeholder="Password" [(ngModel)]="password"/>-->
            <input type="password" id="pwdbar" name="pwd" class="tb" placeholder="Password" [(ngModel)]="password" />
            <br />

            <input type="submit" name="" class="sbutton enlarge-on-hover" (click)="hoverClick($event)" value="LOG IN"
              (click)="doLogin()" /><br>


              <input type="button" class="sbutton enlarge-on-hover"  [routerLink]="'/registration'" value="Register" /><br>


              <input type="button" name=""  class="newbutton enlarge-on-hover" (click)="forgotPassword()"value="Forgot Password" />

          </div>
        </div>
        <div [ngClass]="{ 'd-none': !showForm2 }">
          <div class="formcon">
            <div class="row">
              <span style="text-align: center">Forgot Password</span>
            </div>
            <div class="row">
              <input type="text" id="text" #mobileNumberOrRBCardNo  name="" class="tb" placeholder="Enter Registered Mobile Number Or Card No."
                autocomplete="off" />
              <br />
            </div>
            <div class="row">
              <div *ngIf="mobileNumberOrRBCardNoError" style="color: red; font-size: 0.9em;">
                {{ mobileNumberOrRBCardNoError }}
              </div>
            </div>
            <div class="row">
              <br />
              <input type="submit" name="" class="sbutton enlarge-on-hover" (click)="hoverClick($event)"
                value="Send OTP" (click)="sendOtp(mobileNumberOrRBCardNo.value)" />
                <br>
              <br />

            </div>
            <div class="row">
              <br />
              <input type="button" name="" class="new2button enlarge-on-hover" (click)="backToLogin()"
                value="Back To Login" />
              <!-- <span class=""><button (click)="backToLogin()">Back to login</button></span> -->
              <br />

            </div>





          </div>
        </div>
        <div [ngClass]="{ 'd-none': !showForm3 }">
          <div class="formcon">
            <div class="row">
              <span style="text-align: center">Enter Otp</span>
            </div>
            <div class="row">
              <input type="text" id="otp" #otpInput name="otp" class="tb" placeholder="Enter Otp" required
                autocomplete="off" />
              <br />
            </div>
            <div class="row">
              <span style="text-align: center">Enter New Password</span>
            </div>

            <div class="row">
              <input type="password" id="password1" #password1Input name="password1" class="tb" placeholder="Enter New Password"required
                autocomplete="off" (input)="validatePassword(password1Input.value)" />


              <br />
            </div>
            <div class="row">
              <div *ngIf="passwordError" style="color: red; font-size: 0.9em;">
                {{ passwordError }}
              </div>
            </div>
            <div class="row">
              <input type="password" id="password2" #password2Input name="password2" class="tb" placeholder="Re-Enter New Password"required
                autocomplete="off"  (input)="checkPasswordMatch(password1Input.value, password2Input.value)"/>

              <br />
            </div>
            <div class="row">
              <div *ngIf="passwordMismatchError" style="color: red; font-size: 0.9em;">
                {{ passwordMismatchError }}
              </div>
            </div>
            <div class="row">
              <br />
              <input type="submit" name="" class="sbutton enlarge-on-hover" (click)="hoverClick($event)"
                value="Change Password" (click)="changePassword(otpInput.value, password1Input.value, password2Input.value)" /><br>
              <br />

            </div>
            <div class="row">
              <br />
              <input type="button" name="" class="new2button enlarge-on-hover" (click)="backToLogin()"
                value="Back To Login" />
              <br />

            </div>





          </div>
        </div>
      </div>
    </div>
  </div>

</div>
