
<div class="row">
  <div class="col-md-12" *ngIf="tempchangesList!=null">

    <div class="col col-md-12" style="padding: 2%;" >
      <div class="card shadow">
        <div class="card-header" >
          <div  class="float-start">
            <b>Approval Pending Details</b>
          </div>
          
          <!-- <div  class="float-end">
            <a class="btn btn-outline-info" [routerLink]="'/approve-temp-changes/' + tempchanges.id">Details</a>
          </div> -->
        </div>

        <div class="card-body" *ngIf="tempchangesList!=null ">

          <div class="row mb-12">
            
            <table class="table table-stripped">
              <thead>
                <tr>
                  <th>Sl No.</th>
                  <th>Registration No.</th>
                  <th>Employee Name</th>
                  <!-- <th>Email ID</th> -->
                  <th>Mobile No.</th>
                  <th>Last Updated Date</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody *ngIf="tempchangesList!=null">
                <tr *ngFor="let tempchanges of tempchangesList; let i = index">
                  
                  <td>{{ i + 1 }}</td>
                  <td>{{tempchanges.reg_no}}</td>
                  <td>{{ tempchanges.emp_title}} {{ tempchanges.emp_name}}</td>
                  <!-- <td>{{ tempchanges.email_id}}</td> -->
                  <td>{{ tempchanges.mobile}}</td>
                  <td>{{ formatDate(tempchanges.changed_at)}}</td>
                  <td>
                      <a class="btn btn-outline-info" [routerLink]="'/changes-approval-dtls/' + tempchanges.temp_id">Details</a>
                  </td>
                </tr>
              </tbody>
            </table>


          </div>
          
         
        </div>

        
       
      </div>
    </div>

  </div>

</div>

