<div class="container" *ngIf="mode == 'relativeUpdate'">
  <div class="card shadow">
    <div class="card-header">
      <h2>Relative Update Reports</h2>
    </div>
    <div class="card-body">
      <div class="container">
        <table class="table table-stripped ">
          <thead>
            <tr>
              <th>Sl No.</th>
              <th>Organization name</th>
              <th>Total permanent employees</th>
              <th>Relatives updated</th>
              <th>Total relatives</th>
            </tr>
          </thead>
          <tbody *ngIf="reports != null">
            <tr *ngFor="let report of reports; let k = index">
              <td>{{ k + 1 }}</td>

              <td>
                <span>{{ report.org_desc }}</span>
              </td>
              <td>
                <span>
                  {{
                  report.total_employees
                  }}
                </span>
              </td>
              <td>
                <span>{{ report!.relatives_updated }}</span>
              </td>
              <td>
                <span>{{report!.total_relatives}}</span>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: center;"><strong>Total</strong></td>
              <td><strong>{{ totalEmployees }}</strong></td>
              <td><strong>{{ totalRelativesUpdated }}</strong></td>
              <td><strong>{{ totalRelatives }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="mode == 'sportsUpdate'">

  <div class="card shadow">
    <div class="card-header">
      <h2>Sports Interest Reports</h2>
    </div>
    <div class="card-body">
      <div class="container">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Sl No.</th>
              <th>Sports Name</th>
              <th>Below 9 yrs</th>
              <th>Age: 9 to 13</th>
              <th>Age: 13 to 17</th>
              <th>Above 17 yrs</th>
            </tr>
          </thead>
          <tbody *ngIf="sportsAgeData != null">
            <tr *ngFor="let sport of sportsAgeData; let k = index">
              <td style="text-align: center; vertical-align: middle;">{{ k + 1 }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ sport.sports_name }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ sport.zton }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ sport.ntot }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ sport.ttos }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ sport.stoc }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <br>

  <div class="card shadow">
    <div class="card-header">
      <h2>Sports Interest Reports</h2>
    </div>
    <div class="card-body">
      <div class="container">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Sl No.</th>
              <th>Employee Name</th>
              <th>Designation</th>
              <th>Relatives</th>
              <th>Relationship</th>
              <th>Sports Interest</th>
            </tr>
          </thead>
          <tbody *ngIf="sportsData != null">
            <tr *ngFor="let sport of sportsData; let k = index">
              <td style="text-align: center; vertical-align: middle;">{{ k + 1 }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ sport.emp_name }}</td>
              <td style="text-align: center; vertical-align: middle;">{{ sport.desg_desc }}</td>
              <td style="vertical-align: middle;">
                <table style="margin: 0 auto; text-align: center; border-spacing: 0;">
                  <tr *ngFor="let relative of sport.relations">
                    <td>{{ relative.rel_name }}</td>
                  </tr>
                </table>
              </td>
              <td style="vertical-align: middle;">
                <table style="margin: 0 auto; text-align: center; border-spacing: 0;">
                  <tr *ngFor="let relative of sport.relations">
                    <td>{{ relative.rel_desc }}</td>
                  </tr>
                </table>
              </td>
              <td style="vertical-align: middle;">
                <table style="margin: 0 auto; text-align: center; border-spacing: 0;">
                  <tr *ngFor="let relative of sport.relations">
                    <td>{{ relative.sports_name }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
