<div class="card shadow">
  <div class="card-header">
    <div class="float-start">
      <b>Change Password</b>
    </div>
    <div class="float-end">
      <a class="btn btn-outline-info" [routerLink]="'/dashboard'">
        Back
      </a>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="card-body">
    <div class="row mb-12">
      <div class="col-md-12">
        <div class="card shadow card-warning">
          <div class="card-body">
            <div class="form-group">
              <label class="form-label text-danger">
                Note:- Passwords must have a minimum of 8 characters and a maximum
                of 20 characters, and they may only include alphanumeric characters
                and select special characters(!@#$%&*()_-).
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row mb-12">
      <div class="col-md-5">
        <div class="card shadow card-warning">
          <div class="card-body">
            <div class="row mb-12" style="overflow: auto;">
              <div class="col-md-8">
                <div class="row mb-12">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Id Card No</label>
                    </div>
                    <div class="input-group">
                      {{employee!.id_cards![0]!.card_no}}
                    </div>
                  </div>
                </div>
                <div class="row mb-12">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Name</label>
                    </div>
                    <div class="input-group">
                      {{employee!.emp_title}} {{employee!.emp_name}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <span>
                    <img [src]="employee!.profile_photo" alt="Profile Photo"
                         style="width: 128px; height: 128px" class="rounded-circle"
                         title="Profile Photo" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card shadow card-warning">
          <div class="card-body">
            <div class="row mb-12">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label><b>Current Password</b></label>
                    </div>
                    <div class="input-group">
                      <input type="password" class="form-control"
                             [(ngModel)]="changepassword!.curr_password"
                             (change)="validatePassword()" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label><b>New Password</b></label>
                    </div>
                    <div class="input-group">
                      <input type="password" class="form-control"
                             [(ngModel)]="changepassword!.new_password"
                             (change)="validatePassword()" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label><b>Re-Enter New Password</b></label>
                    </div>
                    <div class="input-group">
                      <input type="password" class="form-control"
                             [(ngModel)]="changepassword!.re_new_password"
                             (change)="validatePassword()" />
                    </div>
                  </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                  <div class="col-md-12">
                    <div style="text-align: center;">
                      <button type="button" class="btn btn-outline-primary"
                              (click)="changePassword()">
                        Update Password
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
