<div class="row">
  <div class="col-md-12" *ngIf="ebaPendingList!=null">
    <div class="col col-md-12" style="padding: 2%;" >
      <div class="card shadow">
        <div class="card-header" >
          <div  class="float-start">
            <b>Approval Pending Details</b>
          </div>
        </div>
        <div class="card-body" *ngIf="ebaPendingList!=null ">
          <div class="container">
            <div class="row mb-12">
              <table class="table table-stripped">
                <thead>
                <tr>
                  <th>Sl No.</th>
                  <th>Id Card No.</th>
                  <th>Employee Name</th>
                  <!-- <th>Email ID</th> -->
                  <th>Mobile No.</th>
                  <th>Last Updated Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ebaPending of ebaPendingList; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ ebaPending.id_cards[0].card_no}}</td>
                  <td>{{ ebaPending.employee.emp_name }}</td>
                  <td>{{ ebaPending.employee.mobile }}</td>
                  <td>{{ formatDate(ebaPending.created_at) }}</td>
                  <td>
                    <a class="btn btn-outline-info" [routerLink]="'/eba-form/' + 'view/'+'EBA/'+ebaPending.id">Details</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
