.dontprint {
  display: none;
}

@media print {
  .dontprint {
    display: none;
  }
}
.match-placeholder {
  width: auto; /* Resetting the width to auto */
}

.match-placeholder::placeholder {
  visibility: hidden;
}

.match-placeholder:after {
  content: attr(placeholder); /* Use the placeholder text as content */
  visibility: hidden;
  position: absolute;
  white-space: nowrap; /* Prevent line breaks */
}

/* Adjusting the width of the input based on the width of the placeholder text */
.match-placeholder[type="text"] {
  width: calc(15%); /* Adjust as needed */
  margin-top: -1%;
}

.match-placeholder[type="date"] {
  width: calc(10%); /* Adjust as needed */
  margin-top: -1%;
}

//.dot {
//  width: 20px; /* Adjust the size of the dot */
//  height: 20px;
//  display: inline-block;
//  border-radius: 50%;
//  margin-right: 100px; /* Add space between dot and color name */
//}
//
.green {
  color: green;
}

.purple {
  color: purple;
}

.red {
  color: red;
}

.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure it's on top of everything */
}
