<div style="background-image: url('assets/images/Untitled10_20240103115745.png');
  background-size: 80vh;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;" class="mat-typography">
<div class="textbox" style="margin-top: 1cm">
  <strong class="title">Welcome to Samekit.</strong>

  <div class="subtitle" style="margin-top: 1.2cm;">Apply, Request, Collect Everything at One place now.</div>
</div>

<div class="main-body">
  <router-outlet></router-outlet>
</div>
</div>
