<div class="fixed-top">
  <div class="pre-header">
    <div class="container-fluid">
      <div class="col-md-6">

        <a href="http://presidentofindia.nic.in/" class="nav-link px-2 link-light" target="_blank" title="http://presidentofindia.nic.in/, The President of India : External website that opens in a new window">The President of India Website<img src="https://rb.nic.in/rbvisit/images/ext-link-icon.gif" alt="External website that opens in a new window" title="External website that opens in a new window" width="9" height="9" class="extIcon" /></a>

      </div>
    </div>
  </div>
</div>
<div class="main-body" style="padding-top: 20px; padding-left: 20px; padding-right: 20px; padding-bottom: 70px; margin-bottom: 170px;">
  <router-outlet></router-outlet>
</div>
<app-footer fxLayout="column"></app-footer>
