<!--<div class="fixed-top">-->
<!--  <div class="pre-header">-->
<!--    <div class="container-fluid">-->
<!--      <div class="col-md-6">-->

<!--        <a href="http://presidentofindia.nic.in/" class="nav-link px-2 link-light" target="_blank" title="http://presidentofindia.nic.in/, The President of India : External website that opens in a new window">The President of India Website<img src="https://rb.nic.in/rbvisit/images/ext-link-icon.gif" alt="External website that opens in a new window" title="External website that opens in a new window" width="9" height="9" class="extIcon" /></a>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="main-body" style="background-image: url('https://wallpapercave.com/wp/wp7231499.jpg'); background-size: cover; background-position: center;background-repeat: no-repeat;   ">-->
<div class="main-body" style="background-image: linear-gradient(linen,lightblue); background-size: cover; background-position: center;background-repeat: no-repeat;   ">

<router-outlet></router-outlet>
</div>
