<br><br><br><br>
<footer>
  <div class="gray-bg">
    <div class="container">
      <div class="row" style="height: 140px;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div id="gov_bottom_slider2" class="owl-carousel text-center mt-3 mb-3">
            <a href="https://presidentofindia.gov.in/" class="p-3">
              <img src="assets/images/img_1.png" class="shadow enlarge-on-hover" (click)="hoverClick($event)"
                width="230" height="70">
            </a>
            <a href="https://www.mygov.in/" class="p-3">
              <img src="assets/images/20241007288926483.svg" class="shadow enlarge-on-hover image-container"
                (click)="hoverClick($event)" width="250" height="70">
            </a>
            <a href="https://www.nic.in/" class="p-3">
              <img src="assets/images/nic1.webp" class="shadow enlarge-on-hover" (click)="hoverClick($event)"
                width="230" height="70">
            </a>
            <a href="https://www.india.gov.in/" class="p-3">
              <img src="assets/images/indgov.png" class="shadow enlarge-on-hover image-container"
                (click)="hoverClick($event)" width="230" height="70">
            </a>
            <a href="https://www.nic.in/" class="p-3">
              <img src="assets/images/NIC.webp" class="shadow enlarge-on-hover image-container"
                (click)="hoverClick($event)" width="230" height="70">
            </a>
            <a href="https://upahaar.rashtrapatibhavan.gov.in/#/" class="p-3">
              <img src="https://rashtrapatibhavan.gov.in/sites/default/files/2024-10/uphaar-logo.png"
                class="shadow enlarge-on-hover image-container" (click)="hoverClick($event)" width="230" height="70">
            </a>
            <a href="https://rashtrapatibhavan.gov.in/" class="p-3">
              <img src="assets/images/img_2.png" class="shadow enlarge-on-hover" (click)="hoverClick($event)"
                width="230" height="70">
            </a>
            <a href="https://www.digitalindia.gov.in/" class="p-3">
              <img src="assets/images/digital.png" class="shadow enlarge-on-hover image-container"
                (click)="hoverClick($event)" width="230" height="70">
            </a>
            <a href="https://parichay.nic.in/pnv1/assets/login?sid=DIGITAL" class="p-3">
              <img src="assets/images/DIGITALNIC.webp" class="shadow enlarge-on-hover image-container"
                (click)="hoverClick($event)" width="230" height="70">
            </a>
            <a href="https://visit.rashtrapatibhavan.gov.in/visit/rb-main-building/nR" class="p-3">
              <img src="assets/images/20241007439580567.svg" class="shadow enlarge-on-hover image-container"
                (click)="hoverClick($event)" width="230" height="70">
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top-sec py-3">
    <div class="container  rounded">
      <div class="row">
        <div class="col d-flex justify-content-center text-center">
          <span class="contact-box">
            For any discrepancies or assistance, please contact NIC.
            <br class="d-block d-md-none"> Intercom: 4630
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Bottom Section Start -->
  <div class="footer-bottom-sec py-3 bg-dark text-white text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="mb-0">
            System is designed and developed by <span class="fw-bold">NIC</span>, President's Secretariat.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
