<script src="../app.module.ts" xmlns="http://www.w3.org/1999/html"></script>
<div class="container">
  <ng-container *ngIf="user && user.role" >
    <ng-container *ngFor="let role of user.role">
      <ng-container *ngIf="role === 4 || role === 5 || role === 6|| role === 9|| role === 10" >
        <div class="row">
          <div class="container">
            <div class="card shadow">
              <div class="card-header">
                <div class="card-title">
                  <div class="row">
                    <div class="col-6" >
                      <b>EBA({{ebadashboardData.totalApplications}})</b>
                    </div>
                    <div class="col-6" style="text-align: right">
                      <button class="btn btn-success enlarge-hover " (click)=" hoverClick($event);opensearch()"> <i class="bi bi-search"></i> </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-body" style="background: linear-gradient(to bottom right, rgba(1, 255, 255, 0.36), transparent);">
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <!--                  <a routerLink="/eba-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchEba(8)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                            <!--                            <a routerLink="/eba-pending" >-->
                            <i class="bi bi-people"></i>
                            <!--                            </a>-->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Returned</span>
                            </p>
                            {{ebadashboardData.returned}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <!--                  <a routerLink="/eba-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchEba(4)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Pending at DH</span>
                            </p>
                            {{ebadashboardData.pendingdh}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--                  </a>-->
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <!--                  <a routerLink="/eba-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchEba(5)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-success">
                            <!--                            <a routerLink="/eba-pending">-->
                            <i class="bi bi-people"></i>
                            <!--                            </a>-->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Pending at SO</span>
                            </p>
                            {{ebadashboardData.pendingso}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--                  </a>-->
                  </div>



                </div>
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <!--                  <a routerLink="/eba-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchEba(6)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-danger">
                            <!--                            <a routerLink="/eba-pending">-->
                            <i class="bi bi-people"></i>
                            <!--                            </a>-->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Pending at US</span>
                            </p>
                            {{ebadashboardData.pendingus}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <!--                  <a routerLink="/eba-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchEba(9)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-danger">
                            <!--                            <a routerLink="/eba-pending" >-->
                            <i class="bi bi-people"></i>
                            <!--                            </a>-->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Pending at Director</span>
                            </p>
                            {{ebadashboardData.pendingdirector}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <a routerLink="/eba-print" style="text-decoration: none; color: inherit;">
                      <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchEba(10)" >
                        <div class="card-body" style="overflow: auto;">
                          <div class="d-flex align-items-center">
                            <div class="enlarge-hover card-icon rounded-circle btn btn-outline-danger">
                              <!--                          <a routerLink="/eba-print" >-->
                              <i class="bi bi-people"></i>
                              <!--                          </a>-->
                            </div>
                            <div class="ps-5">
                              <p>
                                <span class="text-muted small pt-2 ps-1 fw-bold">Pending at ASP</span>
                              </p>
                              {{ebadashboardData.pendingasp}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>



                </div>
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchEba(7)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-primary">
                            <!--                          <a routerLink="/eba-print" >-->
                            <i class="bi bi-people"></i>
                            <!--                          </a>-->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Approved</span>
                            </p>
                            {{ebadashboardData.approvedCount}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <a routerLink="/eba-print" style="text-decoration: none; color: inherit;">
                      <div class="card shadow enlarge-hover" (click)=" hoverClick($event)" >
                        <div class="card-body" style="overflow: auto;">
                          <div class="d-flex align-items-center">
                            <div class="enlarge-hover card-icon rounded-circle btn btn-outline-info">
                              <!--                          <a routerLink="/eba-print" >-->
                              <i class="bi bi-people"></i>
                              <!--                          </a>-->
                            </div>
                            <div class="ps-5">
                              <p>
                                <span class="text-muted small pt-2 ps-1 fw-bold">Print</span>
                              </p>
                              {{ebadashboardData.ebaprint}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);ebapasses()">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-success">
                            <!--                          <a routerLink="/eba-print" >-->
                            <i class="bi bi-people"></i>
                            <!--                          </a>-->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Total Eba passes</span>
                            </p>
                            {{ebadashboardData.active}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <!-- <a routerLink="/EbaApplyForm" ></a> -->
                    <div class="card shadow enlarge-hover" (click)="hoverClick($event);pullEbaPopup()">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-success">
                            <!-- <a routerLink="/EbaApplyForm" > -->
                              <i class="bi bi-pencil-square"></i>
                            <!-- </a> -->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Form</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4" >

                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4" >

                  </div>

                </div>
                <br>

                <div class="row" >
                  <div class="col-md-12">
                    <div class="card shadow">
                      <div class="card-header">
                        <div class="card-title">
                          <b>Today's List({{ebadashboardData.todayList.length}})</b>
                        </div>
                      </div>
                      <div class="card-body" style="overflow: auto;">
                        <div style="padding: 1%">
                          <div class="row mb-12">
                            <table class="table table-stripped">
                              <thead>
                              <tr>
                                <th>Sl No.</th>
                                <th>Reg no.</th>
                                <th>Id Card No.</th>
                                <th>Employee Name</th>
                                <!-- <th>Email ID</th> -->
                                <th>Mobile No.</th>
                                <th>Last Updated Date</th>
                                <th>Action</th>
                              </tr>
                              </thead>
                              <tbody *ngIf="ebadashboardData && ebadashboardData.todayList">
                              <tr *ngFor="let ebaapplication of ebadashboardData.todayList; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ ebaapplication.reg_no }}</td>
                                <td>{{ ebaapplication.id_cards?.[0]?.card_no}}</td>
                                <td>{{ ebaapplication.employee.emp_name }}</td>
                                <td>{{ ebaapplication.employee.mobile }}</td>
                                <td>{{ formatDate(ebaapplication.created_at) }}</td>
                                <td>
                                  <a class="btn btn-outline-info enlarge-on-hover" (click)="hoverClick($event)" [routerLink]="'/eba-form/' + 'view/'+'EBA/'+ebaapplication.id">Details</a>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<td>
  <ng-container>
    <div class="modal modal-above-header" tabindex="-1" data-bs-backdrop="false"
      [ngStyle]="{'display': displayEba }"
      style="backdrop-filter: blur(3px);background-color: rgba(128, 128, 128, 0.7); overflow-y: auto;">
      <div class="modal-dialog modal-dialog-centered modal-m" *ngIf="!showquarterDetails">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title">
              <b> Pull Quarter Details </b>
            </h5>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="col-md-4" style="margin-left: 1%;">
                <label class="form-label">Location:</label>
              </div>
              <div class="col-md-8" style="margin-left: -7%">
                <select class="form-control" [(ngModel)]="employee!.location_id" (change)="qtrtype()">
                  <option value="">--Select--</option>
                  <option [ngValue]="locationtype.location_code"
                    *ngFor="let locationtype of locationtypelist">
                    {{locationtype!.location_name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" style="margin-left: 1%">
                <label class="form-label">Quarter Type:</label>
              </div>
              <div class="col-md-8" style="margin-left: -7%">
                <select class="form-control" [(ngModel)]="employee!.qtr_code" (change)="qtraddress($event)">
                   <option value="">--Select--</option>
                  <option [ngValue]="quartertype.type_code" *ngFor="let quartertype of quarterstypelist">
                    {{quartertype!.type_name}}</option>
                </select>
              </div>
            </div>
            <div class="row" *ngIf="blockstypelist !== null && blockstypelist.length > 0" (change)="qtrBlckaddress()">
              <div class="col-md-4" style="margin-left: 1%">
                <label class="form-label">Block:</label>
              </div>
              <div class="col-md-8" style="margin-left: -7%">
                <select class="form-control" [(ngModel)]="employee!.blck">
                  <option [ngValue]="blck.code" *ngFor="let blck of blockstypelist">
                    {{blck!.type_name}}</option>
                </select>
              </div>
            </div>
            <div class="row" *ngIf="quarterList !== null && quarterList.length > 0">
              <div class="col-md-4" style="margin-left: 1%">
                <label class="form-label">Quarter address:</label>
              </div>
              <div class="col-md-8" style="margin-left: -7%">
                <select class="form-control" [(ngModel)]="employee!.qtr">
                  <option value="">--Select--</option>
                  <option [ngValue]="qtr" *ngFor="let qtr of quarterList">
                    {{qtr!.qtr_no}}</option>
                </select>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary enlarge-on-hover"
              (click)="hoverClick($event)" (click)="closeEbaPopup()">
              Close
            </button>

            <button type="button" class="btn btn-outline-info enlarge-on-hover" (click)="hoverClick($event)"
              (click)="fetch()" *ngIf="employee!.qtr">
              Fetch
            </button>
          </div>
        </div>
      </div>

      <div class="modal-dialog modal-dialog-centered modal-xl" *ngIf="showquarterDetails">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              <b>EBA details</b>
            </h5>
          </div>

          <div class="modal-body">
            <div class="row">
              <div class="row">
                <div class="col-md-2"><b>Name:</b></div>
                <div class="col-md-10" style="font-size: 120%;margin-left: -6%;">
                  {{quarterDetails?.m_Item1?.[0]?.Name}}
                </div>
              </div>

              <div class="row">
                <div class="col-md-2"><b>Designation:</b></div>
                <div class="col-md-10" style="margin-left: -6%;">
                  {{quarterDetails?.m_Item1?.[0]?.Designation}}
                </div>
              </div>

              <div class="row">
                <div class="col-md-2"><b>Section:</b></div>
                <div class="col-md-10" style="margin-left: -6%;">
                  {{quarterDetails?.m_Item1?.[0]?.Section}}
                </div>
              </div>

              <div class="row">
                <div class="col-md-2"><b>Address:</b></div>
                <div class="col-md-10" style="margin-left: -6%;">
                  {{quarterDetails?.m_Item1?.[0]?.Address}}
                </div>
              </div>
            </div>
            <br>
            <div class="row" style="overflow-x: auto;overflow-y: hidden; white-space: nowrap;">
              <tr>
                <ng-container *ngIf="quarterDetails?.m_Item1?.[0]?.Members">
                  <ng-container *ngFor="let member of quarterDetails?.m_Item1?.[0]?.Members; let i = index">
                    <td>
                      <div class="d-flex flex-column align-items-center"
                        style="width:100%; text-align: center; padding-top: 10px;">
                        <span *ngIf="member?.PhotoUrl">
                          <img [src]="member.PhotoUrl" alt="Profile Photo"
                            style="width: 150px; height: 128px" class="rounded-circle"
                            title="Profile Photo" />
                        </span>
                        <span *ngIf="member" style="font-size: 1.2em">{{ member.MemberName }}</span>
                        <span *ngIf="member?.PassNo">{{ member.PassNo }}</span>
                      </div>
                    </td>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="quarterDetails?.m_Item2?.length>0">
                  <ng-container *ngFor="let item of quarterDetails?.m_Item2; let j = index">
                    <ng-container *ngFor="let itemMember of item?.Members; let k = index">
                      <td *ngIf="itemMember?.Relation == 12">
                        <div class="d-flex flex-column align-items-center"
                          style="width:100%; text-align: center; padding-top: 10px;">
                          <span *ngIf="itemMember?.PhotoUrl">
                            <img [src]="itemMember.PhotoUrl" alt="Profile Photo"
                              style="width: 150px; height: 128px" class="rounded-circle"
                              title="Profile Photo" />
                          </span>
                          <span *ngIf="itemMember" style="font-size: 1.2em">{{ itemMember.Name }}</span>
                          <span *ngIf="itemMember?.PassNo">{{ itemMember.PassNo }}</span>
                        </div>
                      </td>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary enlarge-on-hover"
              (click)="hoverClick($event)" (click)="closeEbaPopup()">
              Close
            </button>
            <button type="button" class="btn btn-outline-info enlarge-on-hover" (click)="hoverClick($event)"
              (click)="PullEba()">
              Show Form
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</td>


<div class="modal modal-above-header"
     tabindex="-1" data-bs-backdrop="false"
     [ngStyle]="{'display': searchbox }" style="backdrop-filter: blur(3px);background-color: rgba(128, 128, 128, 0.7); overflow-y: auto; ">
  <div class="modal-dialog modal-dialog-centered modal-l">
    <div class="modal-content" >
      <div class="modal-body">
        <div class="row">
          <label class="form-label">Role</label>
          <select class="form-control" [(ngModel)]="search!.role">
            <option value="null">-Select-</option>
            <option [ngValue]=4>Dh</option>
            <option [ngValue]=5>So</option>
            <option [ngValue]=6>US</option>
            <option [ngValue]=9>Director</option>
            <option [ngValue]=10>Asp</option>
            <option [ngValue]=7>Approved</option>
            <option [ngValue]=8>Returned</option>
          </select>
        </div><br>
        <div class="row">
          <label class="form-label">Name</label>
          <input type="text" class="form-control"  placeholder="Search by Name" aria-label="Name" [(ngModel)]="search!.applicant_name">
        </div><br>
        <div class="row">
          <label class="form-label">Reg no</label>
          <input type="text" class="form-control" placeholder="Search by Reg no" aria-label="Name" [(ngModel)]="search!.reg_no">
        </div><br>
        <div class="row">
          <div class="col-6">
            <label class="form-label">From Date</label>
            <input type="date" class="form-control" aria-label="Name" [(ngModel)]="search!.app_date_from">
          </div>
          <div class="col-6">
            <label class="form-label">To Date</label>
            <input type="date" class="form-control" aria-label="Name" [(ngModel)]="search!.app_date_to">
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-outline-secondary enlarge-on-hover" (click)="hoverClick($event);closesearch()">
          Close
        </button>

        <button type="button" class="btn btn-outline-info enlarge-on-hover" (click)="hoverClick($event);Search()" >
          Search
        </button>
      </div>
    </div>
  </div>
</div>
