<div class="row">
  <div class="col-md-9">
    <app-eba-form></app-eba-form>
  </div>

  <div class="col-md-3">
    <div class="card shadow">
      <div class="card-body">
        <div class="spacing" style="margin-top: 3%;"></div>
        <strong><label style="font-size: 130%" for="remarks">Note:</label></strong>
        <div class="spacing" style="margin-top: 2%;"></div>
        <div class="row" style="margin-left: 0%; margin-right: 1.5%;">
          <textarea class="form-control" id="remarks" name="remarks" style="height: 200px;" placeholder="abc...." [(ngModel)]="remark"></textarea>
        </div>
        <div class="row" style="text-align: center">
          <label class="upload-icon-label"
                 title="Upload file">
            <i class="bi bi-cloud-arrow-up btn btn-outline-success"></i>
          </label>
          <input type="file" class="custom-file-input" [(ngModel)]="file_path"
                 style="display: none">
        </div>
        <div class="row">
          <div class="col-6" style="text-align: right">
            <button type="submit" class="btn btn-success" name="submit" value="Approve" (click)="approveapplication()" >Approve</button>
          </div>
          <div class="col-6" style="text-align: left">
            <button type="submit" class="btn btn-danger" name="submit" value="Return" (click)="returnapplication()">Return</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-container  *ngIf=" employee && employee.eba_applicationsstatus != null && employee.eba_applicationsstatus.length > 0">
  <ng-container  *ngFor="let application of employee!.eba_applicationsstatus; let j = index">
    <div class="card shadow" style="background-color: #75c176; width: 72.5%;margin-left: 1%" >
      <div class="card-header">
        <div class="row">
          <div class="col-md-6" style="text-align: left;font-style: italic">
            <strong>Note #{{j+1}}</strong>
          </div>
          <div class="col-md-6" style="text-align: right">
            <a href="" class="btn btn-primary" title="id proof" target="_blank">
              <i class="bi bi-eye"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            {{application.remarks}}<br><br>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-6" style="text-align: left">
            &nbsp;<br>
           <b> {{application.created_at | date:'dd-MM-yyyy'}}</b>
          </div>
          <div class="col-md-6" style="text-align: right">
            <strong>{{application.created_by}}</strong><br>{{application.desg_desc}}
          </div>
        </div>
      </div>
    </div>
    <br>
  </ng-container>
</ng-container>




