<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div style="width: 100%;text-align: center;padding-top: 10px;" >
        <img src="https://github.com/mdo.png" alt="mdo" style="width: 128px; height: 128px" class="rounded-circle" /><!--width="32" height="32" -->
        <div *ngIf="employee">{{employee.emp_name!}}</div>
      </div>

    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md">
        <div class="card card-warning">
          <div class="card-header">
            Primary Details
          </div>
          <div class="card-body"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="card card-warning">
          <div class="card-header">
            Contact Details
          </div>
          <div class="card-body"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="card card-primary">
          <div class="card-header">
            Designation History
          </div>
          <div class="card-body"></div>
        </div>
      </div>
      <div class="col-md">
        <div class="card card-primary">
          <div class="card-header">
            Card History
          </div>
          <div class="card-body"></div>
        </div>
      </div>
    </div>

  </div>
</div>
