.card-container {
  display: flex;
  flex-wrap: wrap; // Allow wrapping for larger screens
  overflow-x: auto; // Enable horizontal scrolling for smaller screens
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  scroll-behavior: smooth;
  z-index: 10;
  overflow: visible;

  @media (max-width: 768px) {
    flex-wrap: nowrap; // Prevent wrapping on mobile
    overflow-x: scroll; // Enable horizontal scrolling
  }
}

.card {
  flex: 0 0 calc(25% - 10px); // 4 cards per row with spacing
  width: 255px;
  height: 145px;
  cursor: pointer;
  scroll-snap-align: center;
  margin-right: 10px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-image: url("https://www.clipartmax.com/png/small/44-446497_lines-clipart-vertical-line-blue-vertical-line-png.png"),
    url("https://www.clipartmax.com/png/small/44-446497_lines-clipart-vertical-line-blue-vertical-line-png.png"),
    linear-gradient(to bottom right, lavender, linen);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right top, right 5px top, center;
  background-size: 0.7vh, 0.7vh, auto;

  @media (max-width: 768px) {
    flex: 0 0 auto; // Cards take their natural size for scrolling
    width: 230px; // Adjust width for smaller screens
  }
}

.card:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
  background-image: linear-gradient(to bottom right, #f3ddba, transparent),
    url('../../assets/images/R (1).png');
  background-size: auto, 64vh;
  background-position: center, left bottom;
  background-repeat: no-repeat;
  z-index: 10;
}

.card-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  font-size: 14px;
}

.card img:hover {
  transform: scale(1.07);
}

.card.clicked {
  box-shadow: none;
  transform: scale(0.9);
}

.nav-link:hover {
  color: blue;
}


@media (max-width: 768px) {
  .card-body {
    text-align: center;
  }

  .card-body img {
    height: 40px;
    width: 40px;
  }

  .row {
    justify-content: center;
    text-align: center;
  }

  .card:hover {
    transform: scale(1);
  }
}


.hover-scale:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.letter-spacing-1 {
  letter-spacing: 0.05em;
}

body {
  font-family: 'Poppins', sans-serif;
}
