.card-container {
  position: relative;
  overflow: hidden;

}



.card:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.7);
  transform:scale(1.12) ;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(to bottom right, #f3ddba,transparent);
}

.card img:hover {
  transform: scale(1.07);
}

.card p.text-hover {
  color: blue;
}

.card{
  background: linear-gradient(to bottom right, linen,transparent);
}



//.product{
//  margin-top: 27%;
//}
//
//.slider-wrap{
//  position: relative;
//  overflow: hidden;
//  height: 400px;
//}
//
//.slider-main{
//  position: absolute;
//  width: 200%;
//}
//
//.item{
//  margin-top: 20px;
//  display: inline-block;
//  margin-left: 80px;
//  width: 300px;
//  height: 400px;
//  position: relative;
//}

