<div [class.container]="!fromfunction || fromfunction ==null || fromfunction == 'edit'"
  [class.container-fluid]="fromfunction && fromfunction == 'totalpass'">
  <div class="card shadow">
    <div class="card-header">
      <div class="card-title">
        <b>Total List ({{ebaprintData.length}})</b>
      </div>
    </div>
    <div class="card-body">
      <div style="padding: 1%">
        <div class="row mb-12">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Sl No.</th>
                <th>Officer Name</th>
                <!-- <th>Name</th> -->
                <!-- <th>Relation</th> -->
                <th>RB Card</th>
                <th>Issue Date</th>
                <th>Valid upto</th>
                <th *ngIf="fromfunction">Status</th>
                <th *ngIf="fromfunction">Card Type</th>
                <th *ngIf="fromfunction && fromfunction == 'totalpass'">Organization</th>
                <th *ngIf="fromfunction && fromfunction == 'totalpass'">Designation</th>
                <th *ngIf="fromfunction && fromfunction == 'totalpass'">Division</th>
                <th *ngIf="!fromfunction || fromfunction == null">Rfid</th>
                <th *ngIf="!fromfunction || fromfunction == null || fromfunction == 'edit'">Action</th>
                <!-- <th *ngIf="!fromfunction || fromfunction == null">Camera</th> -->
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let ebaprint of ebaprintData; let i = index">

                <td>{{ i + 1 }}</td>
                <td>
                  <!-- <ng-container *ngIf="ebaprint?.applicationdetails?.application?.emp_name">{{ebaprint?.applicationdetails?.application?.emp_name }}</ng-container> -->
                  <ng-container *ngIf="ebaprint?.emp_name">{{ebaprint?.emp_name }}</ng-container>
                </td>


                <td>{{ebaprint.card_no}}</td>
                <td>{{ ebaprint!.valid_from | date:'dd-MM-yyyy'}}</td>
                <td>{{ ebaprint!.valid_to | date:'dd-MM-yyyy'}}</td>
                <td *ngIf="fromfunction">
                  <ng-container *ngIf="ebaprint!.active === 1">Active</ng-container>
                  <ng-container *ngIf="ebaprint!.active === 0">In-Active</ng-container>
                </td>


                <td *ngIf="fromfunction">
                  <ng-container [ngSwitch]="ebaprint!.card_type_id">
                    <div *ngSwitchCase="1">Green</div>
                    <div *ngSwitchCase="2">Purple</div>
                    <div *ngSwitchCase="3">Red</div>
                    <div *ngSwitchCase="4">Yellow Card</div>
                    <div *ngSwitchCase="5">Duty Pass</div>
                    <div *ngSwitchCase="6">Yellow Paper</div>
                    <div *ngSwitchDefault>Unknown</div>
                  </ng-container>
                </td>

                <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ebaprint.org_desc}}</td>
                <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ebaprint.desg_desc}}</td>
                <td *ngIf="fromfunction && fromfunction == 'totalpass'">{{ebaprint.div_desc}}</td>

                <td *ngIf="!fromfunction || fromfunction =='edit'">
                  <button class="btn btn-warning enlarge-on-hover" (click)="hoverClick($event)"
                    (click)="openeditcardPopup(i)">
                    edit
                  </button>
                </td>


                <td *ngIf="!fromfunction || fromfunction ==null">
                  <div class="col" *ngIf="ebaprint.rfid ==null ">
                    <button class="btn btn-primary enlarge-on-hover" (click)="hoverClick($event)"
                      (click)="openebacardPopup(i)">
                      <!--                  <button class="btn btn-primary enlarge-on-hover" (click)="hoverClick($event)" (click)="printpage(i)">-->
                      Update
                    </button>
                  </div>
                  <div class="col" *ngIf="ebaprint.rfid !==null ">
                    {{ebaprint.rfid}}
                  </div>
                </td>

                <td *ngIf="!fromfunction || fromfunction ==null">
                  <div class="col" *ngIf="ebaprint.rfid ==null && (ebaprint.printed==false ||  ebaprint.printed==null)">
                    <button class="btn btn-success enlarge-on-hover" (click)="hoverClick($event)"
                      (click)="printpage(i)">
                      Print
                    </button>
                  </div>
                  <div class="col" *ngIf="ebaprint.rfid ==null && ebaprint.printed==true ">
                    <button class="btn btn-success enlarge-on-hover" (click)="hoverClick($event)"
                      (click)="printpage(i)">
                      Re-Print
                    </button>
                  </div>
                </td>
                <!-- <td>
                <i class="bi bi-camera2" style="font-size: 2rem; cursor: pointer;" (click)="startCamera()"></i>
                <video #videoElement width="600" height="400" autoplay style="display: none;"></video>
                <button (click)="takePhoto()" style="display: none;" #captureButton>Take Photo</button>
                <canvas #canvasElement width="600" height="400" style="display: none;"></canvas>

                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<td *ngIf="printData && printData!= null">
  <div class="modal modal-above-header" tabindex="-1" data-bs-backdrop="false" [ngStyle]="{'display': ebacard }"
    style="backdrop-filter: blur(3px);background-color: rgba(128, 128, 128, 0.7); overflow-y: auto; ">
    <div class="modal-dialog modal-dialog-centered modal-m">
      <div class="modal-content" style="width:100mm">
        <div class="modal-header">
          <h5 class="modal-title">
            <b>{{printData.card_no}}</b>
          </h5>
        </div>
        <div class="modal-body">
          <label class="form-label">Rfid no</label>
          <input type="text" class="form-control" placeholder="xxxxx" aria-label="Name" [(ngModel)]="Rfid">
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary enlarge-on-hover" (click)="hoverClick($event)"
            (click)="closeebacardPopup()">
            Close
          </button>

          <button type="button" class="btn btn-outline-info enlarge-on-hover" (click)="hoverClick($event)"
            (click)="rfid(printData.card_no)">
            Update Rfid
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-above-header" tabindex="-1" data-bs-backdrop="false" [ngStyle]="{'display': editcard }"
    style="backdrop-filter: blur(3px);background-color: rgba(128, 128, 128, 0.7); overflow-y: auto; ">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content" >
        <div class="modal-body">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Card NO</th>
                <!-- <th>Color<span class="text-danger">*</span></th> -->
                <th>Issue date</th>
                <th>Exp date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <!-- <input *ngIf="employee!.id_cards && editable" type="text" class="form-control" placeholder="RB-XXX-X-X-XXXX"
              aria-label="card_no" [(ngModel)]="employee!.id_cards![i]!.card_no"
              (ngModelChange)="onInputChangeMap('id_card', i)"> -->
                  <span>{{printData.emp_name}}</span>
                </td>
                <td>
                  <!-- <input *ngIf="employee!.id_cards && editable" type="text" class="form-control" placeholder="RB-XXX-X-X-XXXX"
              aria-label="card_no" [(ngModel)]="employee!.id_cards![i]!.card_no"
              (ngModelChange)="onInputChangeMap('id_card', i)"> -->
                  <span>{{printData.card_no}}</span>
                </td>
                <!-- <td>
              <select  *ngIf="employee!.id_cards && editable" class="form-control" [(ngModel)]="employee!.id_cards![i]!.card_type_id"  (ngModelChange)="onInputChangeMap('id_card', i)">
                <option value="null">--Select Pass Color--</option>
                <option *ngFor="let passColor_issued of passColors" [ngValue]="passColor_issued.id">
                  {{ passColor_issued.color }}
                </option>
              </select>
            </td> -->
                <td>
                  <input type="date" class="form-control" placeholder="exp_date" aria-label="exp_date"
                    [(ngModel)]="printData.valid_from">
                </td>
                <td>
                  <input type="date" class="form-control" placeholder="exp_date" aria-label="exp_date"
                    [(ngModel)]="printData.valid_to">
                </td>
                <td>
                  <ng-container>
                    <select class="form-control" [(ngModel)]="printData.active">
                      <option [ngValue]="0">In-Active</option>
                      <option [ngValue]="1">Active</option>
                    </select>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">

            <button type="button" class="btn btn-outline-secondary enlarge-on-hover" (click)="hoverClick($event)"
              (click)="closeeditcardPopup()">
              Close
            </button>

            <td>
              <button type="button" class="btn btn-outline-success enlarge-on-hover"
                (click)="hoverClick($event);saveIdcards(printData)">Update</button>
            </td>
          </div>
        </div>
      </div>
    </div>
  </div>



</td>

<!-- <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" class="loading-spinner"></mat-progress-spinner> -->
