<div class="container">
  <ng-container *ngIf="rbShow">
    <div class="row">
      <div class="container">
        <div class="card shadow">
          <div class="card-header">
            <div class="card-title">
              <div class="row">
                <div class="col-6">
                  <b>Applied
                    Application({{rbdashboardData.returned+rbdashboardData.pendingdh+rbdashboardData.pendingso+rbdashboardData.pendingus+rbdashboardData.pendingdhDcp+rbdashboardData.pendingdcp+rbdashboardData.approvedCount}})</b>
                </div>
                <div class="col-6" style="text-align: right">
                  <button class="btn btn-success enlarge-hover " (click)=" hoverClick($event);opensearch()"> <i
                      class="bi bi-search"></i> </button>
                </div>
              </div>
            </div>
          </div>

          <div class="card-body"
            style="background: linear-gradient(to bottom right, rgba(1, 255, 255, 0.36), transparent);">
            <div class="row flex-wrap">
              <div class="col-md-4 col-lg-4 col-sm-6 mb-3">
                <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchRb(16)">
                  <div class="card-body" style="overflow: auto;">
                    <div class="d-flex align-items-center">
                      <div class="enlarge-hover card-icon rounded-circle btn btn-outline-danger">
                        <i class="bi bi-ban"></i>
                      </div>
                      <div class="ps-5">
                        <p>
                          <span class="text-muted small pt-2 ps-1 fw-bold">Returned</span>
                        </p>
                        {{rbdashboardData.returned}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-6 mb-3">
                <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchRb(11)">
                  <div class="card-body" style="overflow: auto;">
                    <div class="d-flex align-items-center">
                      <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-5">
                        <p>
                          <span class="text-muted small pt-2 ps-1 fw-bold"> {{ CardTitle[11] }}</span>
                        </p>
                        {{rbdashboardData.pendingdh}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-6 mb-3">
                <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchRb(12)">
                  <div class="card-body" style="overflow: auto;">
                    <div class="d-flex align-items-center">
                      <div class="enlarge-hover card-icon rounded-circle btn btn-outline-success">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-5">
                        <p>
                          <span class="text-muted small pt-2 ps-1 fw-bold"> {{ CardTitle[12] }}</span>
                        </p>
                        {{rbdashboardData.pendingso}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-6 mb-3" *ngIf="CardTitle['showUS']">
                <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchRb(17)">
                  <div class="card-body" style="overflow: auto;">
                    <div class="d-flex align-items-center">
                      <div class="enlarge-hover card-icon rounded-circle btn btn-outline-danger">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-5">
                        <p>
                          <span class="text-muted small pt-2 ps-1 fw-bold"> {{ CardTitle[17] }}</span>
                        </p>
                        {{rbdashboardData.pendingus}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-6 mb-3">
                <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchRb(13)">
                  <div class="card-body" style="overflow: auto;">
                    <div class="d-flex align-items-center">
                      <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-5">
                        <p>
                          <span class="text-muted small pt-2 ps-1 fw-bold"> {{ CardTitle[13] }}</span>
                        </p>
                        {{rbdashboardData.pendingdhDcp}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-6 mb-3">
                <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchRb(14)">
                  <div class="card-body" style="overflow: auto;">
                    <div class="d-flex align-items-center">
                      <div class="enlarge-hover card-icon rounded-circle btn btn-outline-danger">
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-5">
                        <p>
                          <span class="text-muted small pt-2 ps-1 fw-bold"> {{ CardTitle[14] }}</span>
                        </p>
                        {{rbdashboardData.pendingdcp}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 col-sm-6 mb-3">
                <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchRb(15)">
                  <div class="card-body" style="overflow: auto;">
                    <div class="d-flex align-items-center">
                      <div class="enlarge-hover card-icon rounded-circle btn btn-outline-success">
                        <i class="bi bi-check2-square"></i>
                      </div>
                      <div class="ps-5">
                        <p>
                          <span class="text-muted small pt-2 ps-1 fw-bold">Approved</span>
                        </p>
                        {{ rbdashboardData.approvedCount }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="DcpOffice">
                <div class="col-md-4 col-lg-4 col-sm-6 mb-3">
                  <a routerLink="/rb-print" style="text-decoration: none; color: inherit;">
                    <div class="card shadow enlarge-hover" (click)="hoverClick($event)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-info">
                            <i class="bi bi-printer-fill"></i>
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Print</span>
                            </p>
                            {{ rbdashboardData.rbprint }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-6 mb-3">
                  <div class="card shadow enlarge-hover" (click)="hoverClick($event);openpass() ">
                    <div class="card-body" style="overflow: auto;">
                      <div class="d-flex align-items-center">
                        <div class="enlarge-hover card-icon rounded-circle btn btn-outline-primary">
                          <i class="bi bi-file-ruled"></i>
                        </div>
                        <div class="ps-5">
                          <p>
                            <span class="text-muted small pt-2 ps-1 fw-bold">Report/Edit</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="formShow">
                <div class="col-md-4 col-lg-4 col-sm-6 mb-3">
                  <div class="card shadow enlarge-hover" (click)="hoverClick($event)">
                    <a routerLink="/RbApplyForm/form" style="text-decoration: none;">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-secondary">
                            <i class="bi bi-pencil-square"></i>
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Form</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </ng-container>
            </div>

            <br>

            <div class="row">
              <div class="col-md-12">
                <div class="card shadow">
                  <div class="card-header">
                    <div class="card-title">
                      <b>Today's List({{rbdashboardData.todayList.length}})</b>
                    </div>
                  </div>
                  <div class="card-body" style="overflow: auto;">
                    <div style="padding: 1%">
                      <div class="row mb-12">
                        <table class="table table-stripped">
                          <thead>
                            <tr>
                              <th>Sl No.</th>
                              <th>Reg no.</th>
                              <th>Employee Name</th>
                              <th>Mobile No.</th>
                              <th>Last Updated Date</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="rbdashboardData && rbdashboardData.todayList">
                            <tr *ngFor="let rbapplication of rbdashboardData.todayList; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ rbapplication.reg_no }}</td>
                              <td>{{ rbapplication.emp_name }}</td>
                              <td>{{ rbapplication.mobile }}</td>
                              <td>{{ formatDate(rbapplication.created_at) }}</td>
                              <td>
                                <a class="btn btn-outline-warning enlarge-on-hover" *ngIf="rbapplication.edit"
                                  (click)="hoverClick($event)"
                                  [routerLink]="'/RbApplyForm/' + rbapplication.id">Edit</a>
                                <ng-container *ngIf="rbapplication.id">
                                  <a class="btn btn-outline-info enlarge-on-hover" (click)="hoverClick($event)"
                                    [routerLink]="'/id-form/check/' + rbapplication.id">Details</a>
                                </ng-container>
                              </td>

                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>






<div class="modal modal-above-header" tabindex="-1" data-bs-backdrop="false" [ngStyle]="{'display': searchbox }"
  style="backdrop-filter: blur(3px);background-color: rgba(128, 128, 128, 0.7); overflow-y: auto; ">
  <div class="modal-dialog modal-dialog-centered modal-l">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <label class="form-label">Role</label>
          <select class="form-control" [(ngModel)]="search!.role">
            <option value="null">-Select-</option>
            <option [ngValue]=11>Dh</option>
            <option [ngValue]=12>SO</option>
            <option [ngValue]=17>US</option>
            <option [ngValue]=13>Dh DCP</option>
            <option [ngValue]=14>DCP</option>
            <option [ngValue]=15>Approved</option>
            <option [ngValue]=16>Returned</option>
          </select>
        </div><br>
        <div class="row">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" placeholder="Search by Name" aria-label="Name"
            [(ngModel)]="search!.applicant_name">
        </div><br>
        <div class="row">
          <label class="form-label">Reg no</label>
          <input type="text" class="form-control" placeholder="Search by Reg no" aria-label="Name"
            [(ngModel)]="search!.reg_no">
        </div><br>
        <div class="row">
          <div class="col-6">
            <label class="form-label">From Date</label>
            <input type="date" class="form-control" aria-label="Name" [(ngModel)]="search!.app_date_from">
          </div>
          <div class="col-6">
            <label class="form-label">To Date</label>
            <input type="date" class="form-control" aria-label="Name" [(ngModel)]="search!.app_date_to">
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-outline-secondary enlarge-on-hover"
          (click)="hoverClick($event);closesearch()">
          Close
        </button>

        <button type="button" class="btn btn-outline-info enlarge-on-hover" (click)="hoverClick($event);Search()">
          Search
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal modal-above-header" tabindex="-1" data-bs-backdrop="false" [ngStyle]="{'display': passbox }"
  style="backdrop-filter: blur(3px); background-color: rgba(128, 128, 128, 0.7); overflow-y: auto;">
  <div class="modal-dialog modal-dialog-centered modal-l">
    <div class="modal-content">
      <div class="modal-body p-2.5 bg-light rounded">
        <div class="row g-4">
          <!-- Card Type -->
          <div class="col-md-6">
            <label class="form-label">Card Type</label>
            <select class="form-select" [(ngModel)]="report.card_type_id">
              <option value="">ALL</option>
              <option [ngValue]="3">Red</option>
              <option [ngValue]="2">Purple</option>
              <option [ngValue]="1">Green</option>
              <option [ngValue]="4">Yellow Card</option>
              <option [ngValue]="5">Duty Pass</option>
              <option [ngValue]="6">Yellow Paper</option>
            </select>
          </div>

          <!-- Status -->
          <div class="col-md-6">
            <label class="form-label">Status</label>
            <select class="form-select" [(ngModel)]="report.active">
              <option [ngValue]="1">Active</option>
              <option [ngValue]="0">Inactive</option>
            </select>
          </div>

          <!-- RFID -->
          <div class="col-md-6">
            <label class="form-label">RFID</label>
            <select class="form-select" [(ngModel)]="report.rfid">
              <option value="null">Select RFID</option>
              <option [ngValue]="1">Active</option>
              <option [ngValue]="0">Inactive</option>
            </select>
          </div>

          <!-- Name -->
          <div class="col-md-6">
            <label class="form-label">Name</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="report.emp_name">
            </div>
          </div>

          <!-- Phone Number -->
          <div class="col-md-6">
            <label class="form-label">Phone No</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by Number" [(ngModel)]="report.mobile">
            </div>
          </div>

          <!-- Organisation -->
          <div class="col-md-6">
            <label class="form-label">Organisation</label>
            <select class="form-select" [(ngModel)]="report.organization_id">
              <option value="">Select Organisation</option>
              <option *ngFor="let org of org_list" [ngValue]="org.id">{{ org.org_desc }}</option>
            </select>
          </div>

          <!-- Designation -->
          <div class="col-md-6">
            <label class="form-label">Designation</label>
            <select class="form-select" [(ngModel)]="report.designation_id">
              <option value="">Select Designation</option>
              <option *ngFor="let designation of designations" [ngValue]="designation.id">
                {{ designation.desg_desc }}
              </option>
            </select>
          </div>

          <!-- Division -->
          <div class="col-md-6">
            <label class="form-label">Division</label>
            <select class="form-select" [(ngModel)]="report.division_id">
              <option value="">Select Division</option>
              <option *ngFor="let div of divisiontypelist" [ngValue]="div.id">{{ div.div_desc }}</option>
            </select>
          </div>

          <!-- Card Number -->
          <div class="col-md-6">
            <label class="form-label">Card No</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by Card No" [(ngModel)]="report.card_no">
            </div>
          </div>

          <!-- Issue Date & Expiry Date -->
          <div class="col-md-6">
            <label class="form-label">Issue Date</label>
            <input type="date" class="form-control" [(ngModel)]="report.valid_from">
          </div>

          <div class="col-md-6">
            <label class="form-label">Exp Date</label>
            <input type="date" class="form-control" [(ngModel)]="report.valid_to">
          </div>
        </div>
      </div>


      <!-- Footer Buttons -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closepass()">Close</button>
        <button type="button" class="btn btn-outline-info" (click)="rbpasses('summary')">summary</button>
        <button type="button" class="btn btn-outline-info" (click)="rbpasses('Report')">Report</button>
        <button type="button" class="btn btn-outline-warning" (click)="rbpasses('edit')">EDIT</button>
      </div>
    </div>
  </div>
</div>
