<script src="../app.module.ts" xmlns="http://www.w3.org/1999/html"></script>
<div class="container">
  <ng-container *ngIf="user && user.role" >
    <ng-container *ngFor="let role of user.role">
       <ng-container *ngIf="role === 11 || role ===12 || role ===13 || role ===14 || role ===17" >
        <div class="row">
          <div class="container">
            <div class="card shadow">
              <div class="card-header">
                <div class="card-title">
                  <div class="row">
                    <div class="col-6" >
                      <b>Applied Application({{rbdashboardData.totalApplications}})</b>
                    </div>
                    <div class="col-6" style="text-align: right">
                      <button class="btn btn-success enlarge-hover " (click)=" hoverClick($event);opensearch()"> <i class="bi bi-search"></i> </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-body" style="background: linear-gradient(to bottom right, rgba(1, 255, 255, 0.36), transparent);">

                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <!--                  <a routerLink="/rb-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchRb(16)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                            <!--                            <a routerLink="/rb-pending" >-->
                            <i class="bi bi-people"></i>
                            <!--                            </a>-->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Returned</span>
                            </p>
                            {{rbdashboardData.returned}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <!--                  <a routerLink="/rb-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchRb(11)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Pending at DH</span>
                            </p>
                            {{rbdashboardData.pendingdh}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--                  </a>-->
                  </div>

                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <!--                  <a routerLink="/rb-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchRb(12)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Pending at SO</span>
                            </p>
                            {{rbdashboardData.pendingso}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--                  </a>-->
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <!--                  <a routerLink="/rb-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchRb(17)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Pending at US</span>
                            </p>
                            {{rbdashboardData.pendingus}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--                  </a>-->
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <!--                  <a routerLink="/rb-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchRb(13)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                            <!--                            <a routerLink="/rb-pending" >-->
                            <i class="bi bi-people"></i>
                            <!--                            </a>-->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold"> Pending at Dh DCP</span>
                            </p>
                            {{rbdashboardData.pendingdhDcp}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4">
                    <!--                  <a routerLink="/rb-pending" style="text-decoration: none; color: inherit;">-->
                    <div class="card shadow enlarge-hover" (click)="hoverClick($event); searchRb(14)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-warning">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Pending at DCP</span>
                            </p>
                            {{rbdashboardData.pendingdcp}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--                  </a>-->
                  </div>
                </div>

                <div class="row">

                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);searchRb(15)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-primary">
                            <!--                          <a routerLink="/rb-print" >-->
                            <i class="bi bi-people"></i>
                            <!--                          </a>-->
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Approved</span>
                            </p>
                            {{rbdashboardData.approvedCount}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <a routerLink="/rb-print" style="text-decoration: none; color: inherit;">
                      <div class="card shadow enlarge-hover" (click)=" hoverClick($event)" >
                        <div class="card-body" style="overflow: auto;">
                          <div class="d-flex align-items-center">
                            <div class="enlarge-hover card-icon rounded-circle btn btn-outline-info">
                              <!--                          <a routerLink="/rb-print" >-->
                              <i class="bi bi-people"></i>
                              <!--                          </a>-->
                            </div>
                            <div class="ps-5">
                              <p>
                                <span class="text-muted small pt-2 ps-1 fw-bold">Print</span>
                              </p>
                              {{rbdashboardData.rbprint}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event);rbpasses()">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-success">
                            <a routerLink="/rb-print" >
                              <i class="bi bi-people"></i>
                            </a>
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Total Rb card</span>
                            </p>
                            {{rbdashboardData.active}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">


                  <ng-container *ngIf="role ===13 || role ===17 || user.username == '9560207609'" >
                  <div class="col-md-4 col-lg-4 col-sm-4" >
                    <div class="card shadow enlarge-hover" (click)=" hoverClick($event)">
                      <div class="card-body" style="overflow: auto;">
                        <div class="d-flex align-items-center">
                          <div class="enlarge-hover card-icon rounded-circle btn btn-outline-success">
                            <a routerLink="/RbApplyForm" >
                              <i class="bi bi-pencil-square"></i>
                            </a>
                          </div>
                          <div class="ps-5">
                            <p>
                              <span class="text-muted small pt-2 ps-1 fw-bold">Form</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </ng-container>

                </div>
                <br>

                <div class="row" >
                  <div class="col-md-12">
                    <div class="card shadow">
                      <div class="card-header">
                        <div class="card-title">
                          <b>Today's List({{rbdashboardData.todayList.length}})</b>
                        </div>
                      </div>
                      <div class="card-body" style="overflow: auto;">
                        <div style="padding: 1%">
                          <div class="row mb-12">
                            <table class="table table-stripped">
                              <thead>
                              <tr>
                                <th>Sl No.</th>
                                <th>Reg no.</th>
                                <th>Employee Name</th>
                                <!-- <th>Email ID</th> -->
                                <th>Mobile No.</th>
                                <th>Last Updated Date</th>
                                <th>Action</th>
                              </tr>
                              </thead>
                              <tbody *ngIf="rbdashboardData && rbdashboardData.todayList">
                                <tr *ngFor="let rbapplication of rbdashboardData.todayList; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ rbapplication.reg_no }}</td>
                                    <td>{{ rbapplication.application.emp_name }}</td>
                                    <td>{{ rbapplication.application.mobile }}</td>
                                    <td>{{ formatDate(rbapplication.created_at) }}</td>
                                    <td >
                                      <ng-container *ngIf="rbapplication.id">
                                      <a class="btn btn-outline-info enlarge-on-hover" (click)="hoverClick($event)" [routerLink]="'/id-form/check/' + rbapplication.id">Details</a>
                                    </ng-container>
                                    </td>

                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<div class="modal modal-above-header"
     tabindex="-1" data-bs-backdrop="false"
     [ngStyle]="{'display': searchbox }" style="backdrop-filter: blur(3px);background-color: rgba(128, 128, 128, 0.7); overflow-y: auto; ">
  <div class="modal-dialog modal-dialog-centered modal-l">
    <div class="modal-content" >
      <div class="modal-body">
        <div class="row">
          <label class="form-label">Role</label>
          <select class="form-control" [(ngModel)]="search!.role">
            <option value="null">-Select-</option>
            <option [ngValue]=11>Dh</option>
            <option [ngValue]=12>SO</option>
            <option [ngValue]=17>US</option>
            <option [ngValue]=13>Dh DCP</option>
            <option [ngValue]=14>DCP</option>
            <option [ngValue]=15>Approved</option>
            <option [ngValue]=16>Returned</option>
          </select>
        </div><br>
        <div class="row">
          <label class="form-label">Name</label>
          <input type="text" class="form-control"  placeholder="Search by Name" aria-label="Name" [(ngModel)]="search!.applicant_name">
        </div><br>
        <div class="row">
          <label class="form-label">Reg no</label>
          <input type="text" class="form-control" placeholder="Search by Reg no" aria-label="Name" [(ngModel)]="search!.reg_no">
        </div><br>
        <div class="row">
          <div class="col-6">
            <label class="form-label">From Date</label>
            <input type="date" class="form-control" aria-label="Name" [(ngModel)]="search!.app_date_from">
          </div>
          <div class="col-6">
            <label class="form-label">To Date</label>
            <input type="date" class="form-control" aria-label="Name" [(ngModel)]="search!.app_date_to">
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-outline-secondary enlarge-on-hover" (click)="hoverClick($event);closesearch()">
          Close
        </button>

        <button type="button" class="btn btn-outline-info enlarge-on-hover" (click)="hoverClick($event);Search()" >
          Search
        </button>
      </div>
    </div>
  </div>
</div>
