<div class="row">
  <div class="col-md-8">
    <div *ngIf="alerts.length>0">
      <ng-template ngFor let-alert [ngForOf]="alerts" let-i="index">
        <div  class="row">
          <div class="col">
            <div class="alert alert-{{alert.type}} alert-dismissible fade show" role="alert">
              {{alert.msg}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
    <div *ngIf="states.length>0">
      <div class="list-group list-group-numbered">
        <ng-template ngFor let-state [ngForOf]="states" let-i="index">
        <div class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{state.state_name}}</div>
            <p>
              LGD Code:{{state.lgd_code}}
            </p>
          </div>
          <span class="badge bg-primary rounded-pill">14</span>
        </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="com-md-4">

  </div>
</div>
